
<div class="flx-container">
  <div class="card">
    <div class="container">
      <h2>705</h2>
      <h3>Total Employee <span>(10%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="card-img"><a href=""><img src="..\..\assets\images\main\total_employee.svg"></a></div>
  </div>
  <div class="card">
    <div class="container">
      <h2>3200</h2>
      <h3>Billable Hours <span>(10%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="card-img"><a href=""><img src="..\..\assets\images\main\Billable_hours.svg"></a></div>
  </div>
  <div class="card">
    <div class="container">
      <h2>25</h2>
      <h3>Accounts <span>(18%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="card-img"><a href=""><img src="..\..\assets\images\main\Accounts.svg"></a></div>
  </div>
  <div class="card">
    <div class="container">
      <h2>210</h2>
      <h3>Projects <span>(12%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="card-img"><a href=""><img src="..\..\assets\images\main\Project.svg"></a></div>
  </div>
  <div class="card mr-0">
    <div class="container">
      <h2><b>24</b></h2>
      <h3>Practices </h3>
    </div>
    <div class="card-img"><a href=""><img src="..\..\assets\images\main\Practices.svg"></a></div>
  </div>
</div>
