
<div class="FlxContainer">
  <div class="card">
    <div class="container">
      <h2>705</h2>
      <h3>Total Employee <span>(10%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="CardImg"><img src="..\..\assets\images\main\total_employee.svg"></div>
  </div>
  <div class="card">
    <div class="container">
      <h2>3200</h2>
      <h3>Billable Hours <span>(10%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="CardImg"><img src="..\..\assets\images\main\Billable_hours.svg"></div>
  </div>
  <div class="card">
    <div class="container">
      <h2>25</h2>
      <h3>Accounts <span>(18%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="CardImg"><img src="..\..\assets\images\main\Accounts.svg"></div>
  </div>
  <div class="card">
    <div class="container">
      <h2>210</h2>
      <h3>Projects <span>(12%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
    </div>
    <div class="CardImg"><img src="..\..\assets\images\main\Project.svg"></div>
  </div>
  <div class="card mr-0">
    <div class="container">
      <h2><b>14</b></h2>
      <h3>Practices </h3>
    </div>
    <div class="CardImg"><img src="..\..\assets\images\main\Practices.svg"></div>
  </div>
</div>
