// div{ border:1px solid ;width:100%; height:calc(100vh - 66px); overflow-y: scroll;}
// div{border:1px solid blue; width:100%; height:calc(100vh - 76px); overflow-y: scroll;}

.FlxContainer {display: flex; margin-top: 18px;flex-wrap: nowrap;border-radius: 6px;}
.card{
  width: 100%;
  height: 108px;
  // padding: 6px 15px 12px;
  border-radius: 0px;
  margin-right: 10px;
  box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.08);
  h2{
      font-size: 32px;
      font-weight: bold;
      line-height: 38px;
      color: #023047;
  }
  h3{
      font-size: 14px;
      font-weight: 600px;
      color: #7b7b7b;
  }
  .CardCount{
    padding:8px 15px 0px;
  }
  .ThisMonth{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #A7A5A5;
    padding: 8px 15px 5px;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    height: 28px;
    }
.CardImg img{
  position: absolute;
  right: 15px;
  top: 40px;
  width: 43px;
  height: 40px;
}
}


@media only screen and (min-width:320px) and (max-width:425px){

  .FlxContainer{
      display: inline-flex;
      margin-top: 18px;
      flex-wrap: nowrap;
      width: 360px;
      overflow: auto;
  }
  .card{
      width: 240px;
      border-radius: 0px;
      margin-right: 10px;
      min-width: 240px;
      h2{
          font-size: 24px;
          font-weight: bold;
      }
      h3{
          font-size: 12px;
          color: #7b7b7b;
          font-weight: 500 !important;
      }
  }
}
@media only screen and (min-width:376px) and (max-width:425px){
  .FlxContainer{
    width: 400px;
  }
}