<div class="account-detail-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal01'">
  <header id="modal-header">
    <h1 id="modal-title">Modal title</h1>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <div class="account-resource">
      <div class="account-rleft">
        <select>
          <option seleced>CSC</option>
        </select>
        <p>(40 Projects/200 People)</p>
        <ul>
          <li class="active">Matter Management</li>
          <li>Datawarehousing</li>
          <li>Entity Management</li>
          <li>Alliance</li>
          <li>RIM</li>
          <li>Datamasters</li>
          <li>Financials</li>
          <li>CSC-Pega Support</li>
          <li>NetNames</li>
          <li>CSC-Pega Support</li>
          <li>Fraud Analysis</li>
          <li>NetNames</li>
          <li>CSC-Pega Support</li>
        </ul>
      </div>
      <div class="account-right">
        <h4>Matter Management (24 People)</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, at id
          bibendum in urna mi quam. Gravida sed imperdiet aenean suspendisse
          sit. Semper diam leo porttitor orci viverra sodales. Eget porta nunc
          urna, porta tincidunt tortor. Diam vitae ac ut interdum. Mi parturient
          mi et eget tortor eu. Odio auctor
        </p>
        <div class="tech-stack">
          <p>
            Tech Stack: <span>.net</span> <span>sql server</span>
            <span>Mongo DB</span> <span>Javascript</span>
          </p>
        </div>
        <div class="account-detail-table">
          <ag-grid-angular
            style="width: 600px; height: 300px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
          >
          </ag-grid-angular>
        </div>
        <div class="desktop-hidden">
          <div class="employee-detail">
            <p>
              <b>Emp ID:</b> 1547
              <span class="emp-name">Jithendar Goud Vanga</span>
            </p>
            <p>Java Practice <span>Manager - HR</span></p>
            <p><b>Reporting to:</b> Ramesh Mantra</p>
          </div>
          <div class="employee-detail">
            <p>
              <b>Emp ID:</b> 1547
              <span class="emp-name">Jithendar Goud Vanga</span>
            </p>
            <p>Java Practice <span>Manager - HR</span></p>
            <p><b>Reporting to:</b> Ramesh Mantra</p>
          </div>
          <div class="employee-detail">
            <p>
              <b>Emp ID:</b> 1547
              <span class="emp-name">Jithendar Goud Vanga</span>
            </p>
            <p>Java Practice <span>Manager - HR</span></p>
            <p><b>Reporting to:</b> Ramesh Mantra</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
           Submit
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
           Close
        </button>
    </footer> -->
</div>

<div class="news-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal02'">
  <header id="modal-header">
    <h1 id="modal-title">News and Events</h1>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <h4>This is the section of news title</h4>
  <p>{{data}}</p>
  <div class="date">07 Oct - Wednesday</div>
  <a href="#" class="view-btn">View All</a>
  </section>
</div>