<div class="account-detail-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal01'">
  <header id="modal-header">
    <h1 id="modal-title">Modal title</h1>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <div class="account-resource">
      <div class="account-rleft">
        <select class="accout-select" (change)="onChangrDropdownData($event)" title="{{selectedLabel}}">
          <option seleced title="{{selectedLabel}}">{{selectedLabel | charlimitpipe: 13}}</option>
          <option *ngFor="let list of accountList" title="{{list._id}}">{{list._id | charlimitpipe: 13}}</option>
        </select>
        <p>({{projectList.length}} Projects / {{accountWiseEmpList.length}} People)</p>
        <ul class="mobile-hidden">
          <li *ngFor="let projectList of projectList" 
          [class.active]="projectList === selectedproject"
          (click)="onSelect(projectList)">{{projectList}}</li>
          <!-- <li class="active">Matter Management</li>
          <li>Datawarehousing</li>
          <li>Entity Management</li>
          <li>Alliance</li>
          <li>RIM</li>
          <li>Datamasters</li>
          <li>Financials</li>
          <li>CSC-Pega Support</li>
          <li>NetNames</li>
          <li>CSC-Pega Support</li>
          <li>Fraud Analysis</li>
          <li>NetNames</li>
          <li>CSC-Pega Support</li> -->
        </ul>
        <select class="desktop-hidden">
          <option seleced>Matter Management</option>
          <option >Entity Management</option>
          <option >Datawarehousing</option>
          <option >Alliance</option>
          <option >RIM</option>
          <option >Financials</option>
          <option >CSC-Pega Support</option>
          <option >Fraud Analysis</option>
        </select>
        <p class="desktop-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, at id
          bibendum in urna mi quam.Gravida sed imperdiet aenean...</p>
      </div>
      <div class="account-right">
        <!-- <h4 class="mobile-hidden">Matter Management (24 People)</h4> -->
        <h4 class="mobile-hidden">{{selectedproject}}({{rowData.length}}People)</h4>
        <!-- <p class="mobile-hidden">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, at id
          bibendum in urna mi quam. Gravida sed imperdiet aenean suspendisse
          sit. Semper diam leo porttitor orci viverra sodales. Eget porta nunc
          urna, porta tincidunt tortor. Diam vitae ac ut interdum. Mi parturient
          mi et eget tortor eu. Odio auctor
        </p> -->
        <!-- <div class="tech-stack">
          <p>
            <label>Tech Stack:</label>  <span>.net</span> <span>sql server</span>
            <span>Mongo DB</span> <span>Javascript</span>
          </p>
        </div> -->
        <div class="account-detail-table">
          <ag-grid-angular
            style="width: 100%; height: 427px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [paginationPageSize]=8
            [pagination]="true">
          </ag-grid-angular>
        </div>
        <div class="desktop-hidden">
          <div class="employee-detail" *ngFor="let data of rowData">
            
            <p>
              <b>Emp ID:</b>{{data.employee_employee_id}}
              <span class="emp-name">{{data.employee_company_name}}</span>
            </p>
            <p>{{data.employee_designation_name}} <span>{{data.master3}}</span></p>
            <p><b>Reporting to:</b>{{data.employee_reporting_to}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
           Submit
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
           Close
        </button>
    </footer> -->
</div>

<div class="news-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal02'">
  <header id="modal-header">
    <h1 id="modal-title">News and Events</h1>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <div *ngIf="!isExpand">
      <h4>This is the section of news title</h4>
      <p>{{data}}</p>
     <div class="date">07 Oct - Wednesday</div>
    </div>
  <a (click)="isListExpanded()" class="view-btn">{{isExpand ? '': 'View All'}}</a>
  <div *ngIf="isExpand">
    <div *ngFor="let news of allNewData; let i= index;" class="expand-data">
      <h4>This is the section of news title</h4>
      <p>{{news.messageDescription}}</p>
      <div class="date">07 Oct - Wednesday</div>
    </div>
  </div>
  </section>
</div>

<div class="create-news-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal03'">
  <header id="modal-header">
    <h1 id="modal-title">Create Notification/News & events</h1>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <div class="row">
      <div class="col-md-6">
        <label>Select</label>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info select">Notification</button>
          <button type="button" class="btn btn-secondary">News & Events</button>
        </div>
      </div>
      <div class="col-md-4">
        <label>Date & Time to publish</label>
        <input type="date" placeholder="20-02-2020 2:00 PM">
      </div>
    </div>
   <div class="row">
    <div class="col-md-12">
      <label>Content (Max 500 Charactor)</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
   </div>
    
  </section>
  <footer id="modal-footer">
    <button mat-raised-button class="reset">
      Reset
   </button>
    <button mat-raised-button class="save">
       Save
    </button>
    <button mat-raised-button class="save" id="modal-cancel-button" (click)="closeModal()">
      Save & Publish
    </button>
</footer>
</div>

<div class="delete-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal04'">
  <header id="modal-header">
    <!-- <h1 id="modal-title">Create Notification/News & events</h1> -->
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <div class="row">
      <p>Do you really want to delete this item?</p>
    </div>
  </section>
  <footer id="modal-footer">
    <button mat-raised-button class="reset">
      Cancel
   </button>
    <button mat-raised-button class="save" id="modal-cancel-button" (click)="closeModal()">
      ok
    </button>
</footer>
</div>

<div class="feedback-modal" id="modal-content-wrapper" *ngIf="modalId == 'modal05'">
  <header id="modal-header">
    <h1 id="modal-title">Feedback</h1>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </header>
  <section id="modal-body">
    <div>
      <h3>Hello Friends</h3>
      <p>Your review will help us go give you the better experience</p>
      <textarea type="text">

      </textarea>
    </div>
  </section>
  <footer id="modal-footer">
    
    <button mat-raised-button class="save" id="modal-cancel-button" (click)="closeModal()">
      Submit
    </button>
</footer>
</div>