#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
}

#modal-title {
    font-size: 22px;
    display: none;
}

#modal-footer {
    justify-self: right;
    align-self: center;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#3b3b3b;
    color: white;
}

#modal-cancel-button {
    background-color: #4e4e4e;
    color: white;
}
.news-modal{
  #modal-title{
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #0088D1;
    margin-bottom: 0;
  }
  .view-btn{
    font-size: 16px;
    line-height: 14px;
    color: #FC8500;
    float: right;
  }
  #modal-header{
    position: relative;
    border-bottom: 1px solid #C4C4C4;
  }
  .close {
    position:absolute;
    right:0;
    top:0;
  }
  #modal-body{
    padding: 10px 0;
    h4{
      font-family: Lato !important;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      color: #57565C;
      margin: 0;
    }
    .date{
      float: left;
      font-size: 14px;
      line-height: 14px;
      color: #57565C;
    }
    p{
      font-size: 14px;
      line-height: 24px;
      color: #7B7B7B;
    }
  }
} 
.account-detail-modal{
  .close{
    position:absolute;
    top:10px;
    right:25px;
  }
}
.account-resource{
    background-color: #fff;
    padding:20px;
    display:flex;
    width:100%;
    // display:none;
    .account-right{
      width:80%;
      padding-left: 40px;
      h4{
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #023047;
      }
      p{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #929292;
      }
      .tech-stack{
        p{
          line-height: 40px;
          color: #626364;
          span{
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #FC8500;
            background: rgba(252, 133, 0, 0.1);
            border: 0.5px solid #FC8500;
            border-radius: 20px;
            padding: 5px 12px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
    }
   .account-rleft{
     width: 20%;
     select{
      border: none;
      background: transparent;
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #0088D1;
     }
     p{
      font-size: 14px;
      line-height: 32px;
      color: #023047;
     }
     ul{
       list-style:none;
       padding-left:0;
       max-height:450px;
       overflow-y: auto;
      scrollbar-width: thin;
        scrollbar-color: #afaeae #e3e1e1;
       li{
         padding: 5px;
         font-size: 14px;
         line-height: 20px;
         color: #626364;
         margin-bottom: 10px;
         position: relative;
         cursor: pointer;
       }
       li.active{
        border-left:2px solid #0088D1;
       }
     }
   }
  }
  .account-rleft ul::-webkit-scrollbar  {
    width: 5px;
    margin-right: 10px !important;
  }
  .account-rleft ul::-webkit-scrollbar-track  {
    background: #e3e1e1;
    border-radius: 15px;
  }
   .account-rleft ul::-webkit-scrollbar-thumb  {
    background: #afaeae;
    border-radius: 15px;
    height: 5%;
  }
  @media(max-width:414px){
    .account-resource{
      display: block;
      .account-rleft{
        width:100%;
        ul{
          border-right: none;
          max-height:200px;
        }
      }
      .account-right{
        padding: 0;
        width:100%;
        .tech-stack{
          span{
            display:inline-block;
          }
        }
        .account-detail-table{
          display:none;
        }
      }
      .desktop-hidden{
        display:block;
        .employee-detail{
          border: 1px solid #C4C4C4;
          border-radius: 2px;
          padding:8px;
          margin-bottom: 10px;
          p{
            margin-bottom: 5px;
            span{
              float: right;
            }
            .emp-name{
              font-weight: 600;
            }
          } 
        }
      }
    }
    }