.btn-primary {
  background-color: #fc8500 !important;
  color: white !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  border: none !important;
  font-size: 14px !important;
}

.btn-info {
  background-color: #efefef !important;
  color: black !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  border: none !important;
  font-size: 14px !important;
}
.modal {
  max-width: 94% !important;
  height: auto;
}
label {
  font-size: 12px;
}
.formHolder {
  padding: 9px;
  background: #f3f3f3;
  padding-bottom: 22px;
  border: 1px solid #bababa;
  border-radius: 4px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
}
