<div class="container">
  <div class="row mt-3">
    <div class="col-md-12 headerCol">
      <p class="heading">
        Employee View

      </p>
      <button class="btn btn-primary" (click)="basicModal.show()">
        Add new Employee
      </button>
    </div>
    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>


  <div mdbModal #basicModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <p class="heading">
            Add New Employee

          </p>
        </div>


        <div class="modal-body">

          <form [formGroup]="addNewEmployeeForm">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12 formHolder mb-2">
                  <p>General Information</p>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="empId">Emp ID</label>
                      <input type="text" id="empID" formControlName="EV_empID" class="form-control">
                    </div>
                    <div class="col-md-5">
                      <label for="fName">First Name</label>
                      <input type="text" id="fName" formControlName="EV_firstName" class="form-control">
                    </div>
                    <div class="col-md-5">
                      <label for="lName">Last Name</label>
                      <input type="text" id="lName" formControlName="EV_lastName" class="form-control">
                    </div>
                    <div class="col-md-5">
                      <label for="DOJ">DOJ</label>
                      <input type="text" id="DOJ" formControlName="EV_DOB" class="form-control">
                    </div>
                    <div class="col-md-3">
                      <label for="gender">Gender</label>
                      <input type="text" id="gender" formControlName="EV_gender" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-12 formHolder">
                  <p>Contact Information</p>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="phone">Phone No</label>
                      <input type="text" id="phone" formControlName="EV_phoneNo" class="form-control">
                    </div>
                    <div class="col-md-8">
                      <label for="address">Current Address(Flat No, Street)</label>
                      <input type="text" id="address" formControlName="EV_address" class="form-control">
                    </div>
                    <div class="col-md-4">
                      <label for="state">State</label>
                      <input type="text" id="state" formControlName="EV_state" class="form-control">
                    </div>
                    <div class="col-md-4">
                      <label for="city">CIty</label>
                      <input type="text" id="city" formControlName="EV_city" class="form-control">
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12 formHolder">
                  <p>Employement Information</p>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="empInfoDoj">DOJ</label>
                      <input type="text" id="empInfoDoj" formControlName="EV_DOJ" class="form-control">
                    </div>
                    <div class="col-md-8">
                      <label for="email">Email Address</label>
                      <input type="text" id="email" formControlName="EV_email" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="ouName">OU Name</label>
                      <input type="text" id="ouName" formControlName="EV_OUName" class="form-control">
                    </div>
                    <div class="col-md-3">
                      <label for="grade">Grade</label>
                      <input type="text" id="grade" formControlName="EV_Grade" class="form-control">
                    </div>
                    <div class="col-md-3">
                      <label for="status">Status</label>
                      <input type="text" id="status" formControlName="EV_status" class="form-control">
                    </div>
                    <br>
                    <div class="col-md-6">
                      <label for="desg">Designation</label>
                      <input type="text" id="desg" formControlName="EV_designation" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="master3">Master 3</label>
                      <input type="text" id="master3" formControlName="EV_master3" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="reportingTo">Reporting To (Functional)</label>
                      <input type="text" id="reportingTo" formControlName="EV_reportingTo" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="deptName">Department Name</label>
                      <input type="text" id="deptName" formControlName="EV_deptName" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="ouCompany">OU Company</label>
                      <input type="text" id="ouCompany" formControlName="EV_OUCompany" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="reportingToFunctional">Reporting To (Functional)</label>
                      <input type="text" id="reportingToFunctional" formControlName="EV_reportingToSec"
                        class="form-control">
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="buttonGroup mt-3">
                <button class="btn btn-info mr-2" (click)="reset()">
                  Reset
                </button>
                <button class="btn btn-primary mr-0" (click)="addEmployee()"
                  [disabled]=" !this.addNewEmployeeForm.valid">
                  Submit
                </button>

              </div>
            </div>
          </form>

        </div>


        <!-- <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
            (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
