<ul id="navlist" class="tab ClickTop">
  
<a (click)="navigatoinChange('dashboard')">
<ev-dashboard [hoverClas]="true" name="dashboard" ></ev-dashboard><span class="mobile-text-nav">Dashboard</span></a>
<a (click)="navigatoinChange('hr')"><ev-dashboard [hoverClas]="true" name="hr" ></ev-dashboard><span class="mobile-text-nav mobile-hr">HR</span></a>
<a (click)="navigatoinChange('it')"><ev-dashboard [hoverClas]="true" name="it" ></ev-dashboard><span class="mobile-text-nav mobile-it">IT</span></a>
<a (click)="navigatoinChange('admin')"><ev-dashboard [hoverClas]="true" name="admin" ></ev-dashboard><span class="mobile-text-nav mobile-admin">Admin</span></a>
</ul>
<div class="ColAlign">
  <div class="VerLine">
    <span class="HoursDetails">Total Working Hours: </span>
    <span class="HoursPerc">(10%) </span>
    <span class="HoursImg"><img
        src="..\..\..\assets\images\main\arrow_up.svg"></span>
    <ng-template #elseBlock>
      <span class="hours-img"><img src="..\..\..\assets\images\main\arrow_down.svg"></span>
    </ng-template>
  </div>
  <div class="VerLine">
    <span class="HoursDetails">Average Hours: 08 </span>
    <span class="HoursPerc">(10%) </span>
    <span class="" ><img src="..\..\..\assets\images\main\arrow_up.svg"></span>
  </div>
</div>