/* Style the tab */
.tab {
  float: left;
  border-radius:0px 0px 25px 0;
  background-color: #023047;
  width: 78px;
  min-height: 560px;
  height: calc(100vh - 66px);
}

// SVG

.normalSvg{
  padding: 15px 15px 15px 15px;
  border-bottom: 0.5px solid #57565C;
  width: 78px;
  height: 78px;
}
.normalSvg:hover{
  .st6 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 0.8968;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st3:hover{
  fill: none;
  stroke: #fff !important;
}
}
/* Style the buttons inside the tab */
.tab .ClickTop {
  border-bottom: 1px solid #747474;
  display: block;
  border-left: 5px solid #023047;
  border-right: 0px;
  border-top: 0px;
  background-color: inherit;
  color: #fff;
  padding: 0px;
  // width: 78px;
  height: 78px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  // background: url(src/assets/images/main/Leftnav/Dashboard_line.svg) no-repeat center;
  // background-origin: content-box;
}
.tab .ClickTop:hover, .tab .ClickTop:active,
.tab .ClickTop:visited, .tab .ClickTop:focus{
  border-left: 5px solid #239EC5;
  outline: none;
  // background: url(src/assets/images/main/Leftnav/Dashboard_filled.svg) no-repeat center;
}
/* Create an active/current "tab button" class */
.tab .ClickTop.active {
  border-left: 2px solid #239EC5;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}

.ClickTop {
  // display:inline-block;
  position:relative;
  }

  .NavImg:hover{
  z-index:10;
  }
 .NavImg .leftNavIcon::after{
    content: "";
    position: absolute;
    left: -26px;
    top: 9px;
    margin-left: 6px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
    border-right: 15px solid #000;
  }
   .leftNavIcon {
    position: relative;
    top: 22px;
    left: 70px;
    background: #fff;
    color: #023047;
    border-radius: 4px;
    font-size: 14px;
    height: 32px;
  }
  .leftNavIcon::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    left: 0;
    top: 50%;
    border: 8px solid transparent;
    border-left: 0;
    border-right: 15px solid #fff;
    transform: translate(calc(-50% - 5px), -50%);
  }
  .NavImg:hover .leftNavIcon {
    display: inline-block;
    padding: 5px 15px;
    width: auto;
    box-shadow: 2px 0px 4px 1px rgba(0, 0, 0, 0.25);
    visibility: visible;
    // font-size: 14px;
  }
  .NavImg:focus{
    outline: none;
  }
  .ClickTop::after, .NavImg:hover::after{
    border: 0px !important;
  }
  a::after{
    display: none;
  }
  .tab:hover .ClickTop{
    visibility: visible;
  }
.tablinks{
  margin-left: -3px;
}
//////ends here//////
.ClickTop:hover .NavImg {
  visibility: visible;
}
#navlist{
  display:block;
  list-style:none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  }
  .NavImg{
    border-bottom:0.5px solid #57565C;
  }
  #dashboard {
    height: 78px;
    background: url(src/assets/images/main/Leftnav/dashboard.svg) center no-repeat;
    background-size: 58%;
    border-left: 5px solid transparent;
    background-position-x: 13px;
  }
  #dashboard:active, #dashboard:visited, #dashboard:focus, #dashboard.active {
    height: 78px;
    background: url(src/assets/images/main/Leftnav/dashboard_s.svg) center no-repeat;
    background-size: 58%;
    background-position-x: 13px;
    border-left: 5px solid #239EC5;
    background-color: #01273A;
  }
  #dashboard.active:hover{
  background: url(src/assets/images/main/Leftnav/dashboard_s.svg) 50% no-repeat !important;
    background-size: 58% !important;
    background-position-x: 13px !important;
    height: 78px !important;
    background-color: #01273A !important;
  }
  #it {
    height: 78px;
    background: url(src/assets/images/main/Leftnav/IT.svg) center no-repeat;
    background-size: 58%;
    border-left: 5px solid transparent;
    background-position-x: 13px;
  }
  #it:active, #it:visited, #it:focus, #it.active{
    height: 78px;
    background: url(src/assets/images/main/Leftnav/IT_s.svg) center no-repeat;
    background-size: 58%;
    background-position-x: 13px;
    background-color: #01273A;
  }
  #it.active:hover{
    background: url(src/assets/images/main/Leftnav/IT_s.svg) center no-repeat !important;
    background-size: 58% !important;
    background-position-x: 13px !important;
    height: 78px !important;
    background-color: #01273A !important;
  }
  #hr {
    height: 78px;
    background: url(src/assets/images/main/Leftnav/hr.svg) center no-repeat;
    background-size: 58%;
    border-left: 5px solid transparent;
    background-position-x: 13px;
  }
  #hr:active, #hr:visited, #hr:focus, #hr.active{
    height: 78px;
    background: url(src/assets/images/main/Leftnav/hr_s.svg) center no-repeat;
    background-size: 58%;
    background-position-x: 13px;
    background-color: #01273A;
  }
 #hr.active:hover{
    height: 78px;
    background: url(src/assets/images/main/Leftnav/hr_s.svg) center no-repeat !important;
    background-size: 58% !important;
    background-position-x: 13px !important;
    background-color: #01273A !important;
  }
  #admin {
    height: 78px;
    background: url(src/assets/images/main/Leftnav/Admin.svg) center no-repeat;
    background-size: 58%;
    border-left: 5px solid transparent;
    background-position-x: 13px;
  }
  #admin:active, #admin:visited, #admin:focus, #admin.active{
    height: 78px;
    background: url(src/assets/images/main/Leftnav/Admin_s.svg) center no-repeat;
    background-size: 58%;
    background-position-x: 13px;
    background-color: #01273A;
  }
  #admin.active:hover{
    height: 78px;
    background: url(src/assets/images/main/Leftnav/Admin_s.svg) center no-repeat !important;
    background-size: 58% !important;
    background-position-x: 13px !important;
    background-color: #01273A !important;
  }
  @media only screen and (min-width: 320px) and (max-width: 425px){
    /* Style the tab */
   .tab {
     border-radius:0px 0px 36px 36px;
     background-color: #023047;
     width: 100%;
     height: auto;
     min-height: auto;
     padding: 10px 0px 0 0px !important;
     position: absolute;
     top: 67px;
     z-index: 1;
     display: flex;
     ul{
       display: flex;
       width: auto;
       li{
         margin:0px;
       }
     }
     .leftNavIcon{
       text-align:center;
       display: block !important;
      //  position: unset;
       background: transparent;
       height: auto !important;
       font-style: normal;
      //  font-weight: bold;
       font-size: 14px;
       line-height: 16px;
       color: #FFFFFF;
       position: relative;
       left: 1px;
       top: 50px;
     }
   }
   #navlist{
    text-align:center;
  }
  .NavImg:hover .leftNavIcon {
    padding: 0px; 
    box-shadow: none;
  }
   /* Style the buttons inside the tab */
   .tab .ClickTop {
     display: inline-grid;
     border-bottom: 5px solid #023047;
     border-right: 0px;
     border-top: 0px;
     border-left: 0px;
     background-color: inherit;
     color: #fff;
     padding: 0px !important;
     width: 25%;
     cursor: pointer;
     transition: 0.3s;
     font-size: 17px;
     text-align:-webkit-center;
     text-align: -moz-center;
     justify-content: center;
    
   }
   .tab .ClickTop:hover, .tab .ClickTop:active,
   .tab .ClickTop:visited, .tab .ClickTop:focus{
     padding: 0px !important;
     border-left: 0px !important;
     border-bottom: 5px solid #239EC5;
     outline: none;
   }
   .ClickTop:hover .leftNavIcon {
     display: block;
     padding: 0px !important;
     width: auto;
     box-shadow: none;
   }
   /* Create an active/current "tab button" class */
   .tab .ClickTop.active {
     border-bottom: 0px;
   }
   /* Style the tab content */
   .tabcontent {
     float: left;
     padding: 0px 12px;
     width: 70%;
     border-left: none;
   }
   .ClickTop .leftNavIcon::after{
     display: none ;
   }
   .tab button a{
     display: grid;
   }
   .NavImg{
     display: inline-flex;
     border-bottom: 0px; 
     width: 78px;
     height: 83px !important;
     justify-content: center;
   }
   #dashboard{
     border-left: 0px !important;
     border-bottom: 5px solid transparent;
     background-position-x: 20px;
     background-position-y: 3px;
     background-size: 50%;
   }
   #hr{
    border-left: 0px !important;
    border-bottom: 5px solid transparent;
    background-position-x: 20px;
    background-position-y: 3px;
    background-size: 50%;
  }
  #it{
    border-left: 0px !important;
    border-bottom: 5px solid transparent;
    background-position-x: 20px;
    background-position-y: 3px;
    background-size: 50%;
  }
  #admin{
    border-left: 0px !important;
    border-bottom: 5px solid transparent;
    background-position-x: 20px;
    background-position-y: 3px;
    background-size: 50%;
  }
  #dashboard.active, #dashboard:active, #dashboard:visited, #dashboard:focus{
    border-left: 0px !important;
    border-bottom: 5px solid #239EC5;
    background-position-x: 22px;
    background-position-y: 3px;
    background-size: 50%;
    background-color: transparent;
    font-weight: bold;
  }
  #hr.active, #hr:active, #hr:visited, #hr:focus{
   border-left: 0px !important;
   border-bottom: 5px solid #239EC5;
   background-position-x: 22px;
   background-position-y: 3px;
   background-size: 50%;
   background-color: transparent;
   font-weight: bold;
 }
 #it.active, #it:active, #it:visited, #it:focus{
   border-left: 0px !important;
   border-bottom: 5px solid #239EC5;
   background-position-x: 22px;
   background-position-y: 3px;
   background-size: 50%;
   background-color: transparent;
   font-weight: bold;
 }
 #admin.active, #admin:active, #admin:visited, #admin:focus{
   border-left: 0px !important;
   border-bottom: 5px solid #239EC5;
   background-position-x: 22px;
   background-position-y: 3px;
   background-size: 50%;
   background-color: transparent;
   font-weight: bold;
 }
  //  .active{
  //   border-bottom: 5px solid #239EC5 !important;
  //   background-color: transparent !important;
  //   background-size: 50% !important;
  //   background: url(src/assets/images/main/Leftnav/dashboard_s.svg) center no-repeat !important;
  // }
   .leftNavIcon::before{
     display: none;
   }
   }
  @media only screen and(max-width:320px){
    .tab{
      padding: 10px 0 0 10px !important;
    }
    .NavImg{
      width: 70px;
      height: 71px !important;
    }
    .leftNavIcon{
      top: 46px !important;
      font-size: 12px !important;
    }
   #dashboard{
     background-position-x: 18px;
   }
   #hr{
    background-position-x: 18px;
  }
  #it{
    background-position-x: 18px;
  }
  #admin{
    background-position-x: 18px;
  }
  #dashboard.active{
    background-position-x: 18px;
  }
  #hr.active{
   background-position-x: 18px;
 }
 #it.active{
   background-position-x: 18px;
 }
 #admin.active{
   background-position-x: 18px;
 }
 .ColAlign {
  top: 140px !important;
  padding: 30px 5px 0 15px !important;
 }
.VerLine span{
  font-size: 10px !important;
}
  }
  @media only screen and (min-width:411px) and (max-width:414px){
    .ColAlign{
      padding: 30px 0px 0px 0px !important;
    }
    .leftNavIcon{
      top:55px !important;
    }
    .NavImg{
      width:87px;
    }
    #dashboard, #hr, #it, #admin{
      background-position-x: 22px;
    }
  }
  @media only screen and (width:375px){
    .ColAlign{
      padding: 30px 5px 0 13px !important;
    }
  }
  @media only screen and (width: 360px){
    .VerLine{
      margin: 0px !important;
    }
    .ColAlign{
      top: 153px;
      z-index: 1;
      padding: 30px 10px 0 13px !important;
      justify-content: space-around;
    }
  }
   @media only screen and (min-width:426px) and (max-width:1440px){
     .ColAlign{
       display: none !important;
     }
     .tab{
       position: fixed;
       top: 66px;
       z-index: 1;
       .leftNavIcon{
         display: none;
       }
       #dashboard:hover {
        height: 78px;
        background: url(src/assets/images/main/Leftnav/dashboard_h.svg) center no-repeat;
        background-size: 58%;
        border-left: 5px solid #239EC5;
        background-position-x: 13px;
      }
      #it:hover {
        height: 78px;
        background: url(src/assets/images/main/Leftnav/IT_h.svg) center no-repeat;
        background-size: 58%;
        border-left: 5px solid #239EC5;
        background-position-x: 13px;
      }
      #hr:hover {
        height: 78px;
        background: url(src/assets/images/main/Leftnav/hr_h.svg) center no-repeat;
        background-size: 58%;
        border-left: 5px solid #239EC5;
        background-position-x: 13px;
      }
   #admin:hover {
    height: 78px;
    background: url(src/assets/images/main/Leftnav/Admin_h.svg) center no-repeat;
    background-size: 58%;
    border-left: 5px solid #239EC5;
    background-position-x: 13px;
  }
     }
     .btn-align{
       padding-left: 11px !important;
     }
   }
   .ColAlign {
    display: flex;
    place-items: center;
    width: 100%;
    position: absolute;
    top: 150px;
    z-index: 1;
    padding: 30px 5px 0 10px;
    justify-content: space-around;
    p {
      padding-left: 20px;
      padding-right: 30px;
    }
  }
  .VerLine {
    margin-right: 5px;
    // margin-right: 24px;
    font-family: "Lato", sans-serif !important;
    span {
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 19.2px;
      color: #023047;
    }
  }
  .HoursDetail {
    color: #023047;
  }
  .HoursPerc {
    color: #929292 !important;
  }
  .VerLine:last-of-type {
    border-right: none;
  }
  .HoursImg{
    padding-right: 5px;
  }