/* Style the tab */
.tab {
  float: left;
  border-radius:0px 0px 25px 0;
  background-color: #023047;
  width: 76px;
  min-height: 560px;
  height: calc(100vh - 66px);
}
/* Style the buttons inside the tab */
.tab .click-to-top {
  border-bottom: 1px solid #747474;
  display: block;
  border-left: 5px solid #023047;
  border-right: 0px;
  border-top: 0px;
  background-color: inherit;
  color: #fff;
  padding: 22px 22px 22px 12px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.tab .click-to-top:hover, .tab .click-to-top:active,
.tab .click-to-top:visited, .tab .click-to-top:focus{
  border-left: 5px solid #239EC5;
  outline: none;
}
/* Create an active/current "tab button" class */
.tab .click-to-top.active {
  border-left: 2px solid #239EC5;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}

.click-to-top {
  // display:inline-block;
  position:relative;
  }

  .nav-img:hover{
  z-index:10;
  }
 .nav-img:hover ::after{
    content: "";
    position: absolute;
    left: -26px;
    top: 9px;
    margin-left: 6px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #F58944 transparent transparent;
    border-right: 15px solid #f58944;
  }
  .nav-img .leftNavIcon {
    // display: none;
    position: absolute;
    bottom: 11px;
    left: 65px;
    background: #F58944;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    height: 32px;
  }
  .nav-img:hover .leftNavIcon {
    display: block;
    padding: 5px 15px;
    width: auto;
    // font-size: 14px;
  }
  .click-to-top::after, .nav-img:hover::after{
    border: 0px !important;
  }
  a::after{
    display: none;
  }
  .tab:hover .click-to-top{
    visibility: visible;
  }
.tablinks{
  margin-left: -3px;
}
.click-to-top a img:hover, .click-to-top a img:active, .click-to-top:hover.img{
  filter:sepia(1%) saturate(28%) hue-rotate(346deg) brightness(100%) contrast(3);
}
//////ends here//////
@media only screen and (min-width: 320px) and (max-width: 425px){
 /* Style the tab */
.tab {
  border-radius:0px 0px 36px 36px;
  background-color: #023047;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: sticky;
  top: 67px;
  z-index: auto;
  .leftNavIcon{
    text-align:center;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 12px;
  }
}
/* Style the buttons inside the tab */
.tab .click-to-top {
  display: inline-grid;
  border-bottom: 2px solid #023047;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  background-color: inherit;
  color: #fff;
  padding: 7px;
  width: 25%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  text-align:-webkit-center;
  justify-content: center;
}
.tab .click-to-top:hover, .tab .click-to-top:active,
.tab .click-to-top:visited, .tab .click-to-top:focus{
  border: 0px ;
  outline: none;
}
/* Create an active/current "tab button" class */
.tab .click-to-top.active {
  border-bottom: 0px;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}
.click-to-top .leftNavIcon{
  display: contents !important;
}
.click-to-top .leftNavIcon::after{
  display: none ;
}
.tab button a{
  display: grid;
}
}
@media only screen and (min-width:426px) and (max-width:1440px){
  .tab{
    position: fixed;
    top: 66px;
    z-index: 1;
<<<<<<< HEAD
    span{
=======
    .leftNavIcon{
>>>>>>> d20a8b53a24798b66e4215549db8a4c0c3929aec
      display: none;
    }
  }
  .btn-align{
    padding-left: 11px !important;
  }
}
