/* Style the tab */
.tab {
  float: left;
  border-radius:0px 0px 25px 0;
  background-color: #023047;
  width: 76px;
  height: 560px;
}
/* Style the buttons inside the tab */
.tab button {
  border-bottom: 1px solid #747474;
  display: block;
  border-left: 2px solid #023047;
  border-right: 0px;
  border-top: 0px;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px 22px 14px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover, .tab button:active,
.tab button:visited, .tab button:focus{
  border-left: 2px solid #239EC5;
  outline: none;
}
/* Create an active/current "tab button" class */
.tab button.active {
  border-left: 2px solid #239EC5;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}

button.click-to-top {
  // display:inline-block;
  position:relative;
  }
  
  button.click-to-top:hover{
  z-index:10;
  }
 
  button.click-to-top:hover ::after{
    content: "";
    position: absolute;
    left: -27px;
    top: 11px;
    margin-left: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #F58944 transparent transparent;
    border-right: 15px solid #f58944;
  }
  button.click-to-top p {
    // display: none;
    position: absolute;
    bottom: 5px;  
    left: 70px;
    background: #F58944;
    color: #fff;
    border-radius: 4px;
  }
  button.click-to-top:hover p {
    display: block; 
    padding: 8px 15px; 
    width: auto;
    // font-size: 14px;
  }
  button::after, .click-to-top a:hover::after{
    border: 0px !important;
  }
  a::after{
    display: none;
  }
  .tab:hover .click-to-top{
    visibility: visible;
  }
.tablinks{
  margin-left: -3px;
}
@media only screen and (min-width: 320px) and (max-width: 425px){
 /* Style the tab */
.tab {
  border-radius:0px 0px 36px 36px;
  background-color: #023047;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: sticky;
  top: 67px;
  z-index: 1;
  p{
    text-align:center;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 12px;
  }
}
/* Style the buttons inside the tab */
.tab button {
  display: inline-grid;
  border-bottom: 2px solid #023047;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  background-color: inherit;
  color: #fff;
  padding: 7px;
  width: 25%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  text-align:-webkit-center;
  justify-content: center;
}
.tab button:hover, .tab button:active,
.tab button:visited, .tab button:focus{
  border: 0px ;
  outline: none;
}
/* Create an active/current "tab button" class */
.tab button.active {
  border-bottom: 0px;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}
button.click-to-top p{
  display: contents !important;
} 
button.click-to-top p::after{
  display: none ;
} 
}
@media only screen and (min-width:426px) and (max-width:1440px){
  .tab{
    position: fixed;
    top: 66px;
    z-index: 1;
    p{
      display: none;
    }
  }
  .btn-align{
    padding-left: 11px !important;
  }
}
