<!-- <div class="tab">
  <a type="button" class="click-to-top" *ngFor="let icons of arrIcons"><a class="nav-img"
      routerLink="/{{icons.name}}"><img class="" src="{{icons.icon}}">
      <span class="leftNavIcon">{{icons.name}}</span>
    </a>
  </a>
</div> -->
<a class="tab">
  <span class="click-to-top" *ngFor="let icons of arrIcons">
     <span class="nav-img"
      routerLink="/{{icons.name}}"><img class="" src="{{icons.icon}}">
      <span class="leftNavIcon">{{icons.name}}</span>
  </span>
  </span>
</a>

<!-- <div class="tab">
  <button type="button" class="click-to-top"><img class="" src="..\..\assets\images\main\dashbboard-icon.svg"><p>Dashboard</p></button>
  <button type="button" class="click-to-top"><img class="" src="..\..\assets\images\main\accounts_projects.svg"><p>Accounts</p></button>
  <button type="button" class="click-to-top"><img class="" src="..\..\assets\images\main\HR-svg.svg"><p>HR</p></button>
  <button type="button" class="click-to-top"><img class="" src="..\..\assets\images\main\IT-svg.svg"><p>IT</p></button>
</div> -->
