<div class="tab">
  <a routerLink=""><button type="button" routerLinkActive="active"><img class="tablinks" src="..\..\assets\images\main\dashbboard-icon.svg"><p>Dashboard</p></button></a>
  <button type="button"><img class="tablinks" src="..\..\assets\images\main\accounts_projects.svg"><p>Accounts</p></button>
  <button type="button" class=" btn-align"><img class="tablinks" src="..\..\assets\images\main\HR.svg"><p>HR</p></button>
  <button type="button" class=" btn-align"><img class="tablinks" src="..\..\assets\images\main\IT.svg"><p>IT</p></button>
</div>

