.NavHeader{
  background: #f6f6f6;
  box-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.15);
  padding: 12px 25px;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 66px;
}
.ds-con{
  display: contents;
}
.ColAlign{
  display: flex;
  place-items: center;
  width: 65%;
  p{
      padding-left: 20px;
      padding-right: 30px;
  }
}
.logo{
  margin-right: 29px;
  width: 35px;
}
.align{
  text-align: center;
}
.pd-l{
  padding-left: 20px;
}
p{
  margin: 0;
  color: #023047;
  font-size: 16px;
  font-weight: bold;
}
.VerLine{
  border-right: 0.5px solid #acacad;
  padding-right: 37px;
  margin-right: 24px;
  font-family: "Lato", sans-serif !important;
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 19.2px;
  }
}
.HoursDetail{
  color: #023047;
}
.HoursPerc{
  color: #929292;
}
.VerLine:last-of-type{
  border-right: none;
}
.BtnLogout{
  font-size: 10px !important;
}
.pdr-0{
  padding-right: 0px !important;
}
.VerLine2{
  border-left: 0.5px solid #e3e3e3;
  height: 40px;
  padding: 0 27px;
  justify-content: center;
  display: flex;
}
.VerLine-last{
  border: 0px !important;
}
span{
  color: #626364;
  font-size: 12px;
}
.icon-hamburger{
  position: absolute;
  right: 15px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  display: grid;
  margin-top: 10px;
}
.dropbtn:active, .dropbtn:visited, .dropbtn:focus{
  outline: none;
  border: none;
}
.dropdown {
  position: relative;
}

.DropdownContent, .NotificationContent {
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
  z-index: 1;
  right: 0px;
  top: 60px;
}
.notication-border a{
  border-bottom: 1px solid #C4C4C4;
}
.DropdownContent::after, .NotificationContent::after{
  content: "";
  position: absolute;
  top: -11%;
  left: 60%;
    margin-left: 55px;
    border-width: 10px;
    border-bottom: 16px solid #F8F8FB;
  border-style: solid;
  border-color: transparent transparent #F8F8FB transparent;
}
.NotificationContent::after{
  content: "";
  position: absolute;
  top: -10%;
    margin-left: 67px;
    border-width: 10px;
    border-bottom: 16px solid #fff;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.NotificationContent{
  top: 153% !important;
  left: auto !important;
  ul{
    list-style: none;
    margin: 0px;
    overflow-y: scroll;
    margin: 15px 8px 15px 0 !important;
    scrollbar-width: thin;
    scrollbar-color: #afaeae #e3e1e1;
    height: 235px;
    li{
    border-bottom: 0.5px solid #c4c4c4;
    overflow: hidden;
     padding: 10px 15px 0px;
     letter-spacing: 0.7px;
    }
    li:last-child{
      border: none;
    }
    a{
      display: flex !important;
      padding: 0px !important;
    }
  }
}
.NotifyIcon{
  width:20px;
  height: 20px;
  margin-right: 18px;
}
.NotifyText{
  span{
    line-height: 29px;
  }
}
.Notification {
  position: relative;
}

.Notification .badge {
  position: absolute;
  top: 8px;
  right: 24px;
  padding-top: 4px;
  border-radius: 50%;
  background-color: #F16A21;
  color: white;
  font-size: 9px;
  font-weight: lighter;
  -moz-margin-end: 5px;
  width: 15px;
  height: 15px;
}
.NotificationContent{
  ul::-webkit-scrollbar {
    width: 5px;
  }
}
.NotificationContent{
  ul::-webkit-scrollbar-track {
  background: #e3e1e1;
  border-radius: 15px;
}
}
.NotificationContent{
  ul::-webkit-scrollbar-thumb {
  background: #afaeae;
  border-radius: 15px;
  height: 5px !important;
}
}
.NotificationContent {
  ul::-webkit-scrollbar-thumb:hover {
  background: #afaeae;
}
}
@-moz-document url-prefix(){
  .Notification .badge{
    padding-top:3px !important;
    top: 8px !important;
    right: 19px !important;
  }
}
.UserImg{
  margin-right: 18px;
  width: 13px;
}
.DropdownContent{
  width: 150px;
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    li{
      a {
        color:#57565C;
        text-decoration: none;
        display: block;
        font-size: 14px;
        padding: 13px 10px 10px 17px;
        line-height: 18px;
        font-weight: 400;
      }
    }
  }
  .UserIcon{
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
  }
  ul li.UserIcon:hover{
    background: #023047 !important;
  }
   li:hover{
    background: #F2F6FA;
  }
}
.DropdownContent a:hover {background-color: none;}

.dropdown:hover .DropdownContent {display: block;}

.dropdown:hover .dropbtn {background-color: none;}

.UserDropdown{
  background-color: #f8f8f8;
  padding: 11px 10px !important;
  color: #fff !important;
  img{
    padding-right: 15px;
    width: 50px;
    vertical-align: text-top;
  }
 .user{
   font-size: 16px !important;
   color: #000;
   display: inline-grid;
   vertical-align: sub;
 }
  span{
    color: #626364;
    font-size: 12px;
    display: inline-grid;
  }
}
.downarrow{
  width: 10px;
  left: 6px;
  position: relative;
}
.dark-theme{
  display: flex;
}
.Logout{
  border: 0.5px solid #C4C4C4;
}
.switch {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 35px;
  height:13px;
  margin-top: 18px;
  margin-left: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 20px;
  height: 8px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: -6px;
  bottom: -2px;
  background-color: #f1f1f1;
  transition: 0.4s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.HeaderIcons{
  width: 22px;
  height: 22px;
}
//header ends here//
@media only screen and (min-width: 320px) and (max-width:425px){
  .NavHeader{
      display: none;
  }
  .NavWidth{
    width: 100%;
    display: flex;
    place-items: center;
    a{
      width: 45px;
      padding-right: 10px;
    }
  }
  .pdt-0{
      padding-top: 0px !important;
  }
  .SearchDropdown .SearchDropdownTopbtn ul li{
    padding: 7px 0px 9px 10px;
  }
  .NavMobileHeader{
      background-color: #023047;
      padding: 15px 10px 15px 15px;
      width: 100%;
      border-bottom: 1px solid #074E72;
      top: 0;
      z-index: 2;
      flex-wrap: nowrap;
      .text-align{
        text-align: center;
      }
      .img{
          position: absolute;
          right: 27%;
          top: 35%;
      }
      .NewsImg{
        filter: brightness(1.5) sepia(10) hue-rotate(-70deg) saturate(1);
        width: 23px;
      }
  }
  @-moz-document url-prefix() {
    .DropdownContent, .NotificationContent  {
        width: 419px !important;
    }
}
  .DropdownContent, .NotificationContent {
    position: absolute;
    background-color: #fff;
    width: max-content;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    top: 0 !important;
    width: 100% !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    ul{
      display: block;
      li{
        width: 100% !important;
      }

    }
  }
  .VerLine2 {
    .DropdownContent{
      right:0;
    }
  }
  .DropdownContent::after, .NotificationContent::after{
    position: absolute;
    top: -14%;
    left: 57%;
    margin-left: 79px;
    border-width: 10px;
    border-bottom: 16px solid #f8f8f8;
    border:0px;
  }
  .VerLine2{
    border: 0px;
    height:auto;
    padding:0;
  }
.Notification .badge{
  top: 0px;
  left: 10px;
}
.close{
  width:20px;
  span{
    font-size: 20px;
  }
}
.close:focus{
  outline: none;
}
.CloseBtn{
  padding: 3px 10px 27px 0;
}
.CloseNotify{
  padding: 28px;
  padding-bottom: 10px;
}
.CloseNotify h4, .CloseNotify h4 span{
  font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #0088D1;
}
.More{
  float: right;
    color: #F16A21 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 500;
}
.close{
color: #0C0310;
font-weight: lighter;
font-size: 30px;
position: absolute;
top:27px;
right: 20px;
}
.NavOption{
  right: 0;
  position: static;
  display: flex;
  place-items: center;
  .MobileSearch{
    padding:0px;
  }
  .Notification{
    padding: 0px 20px;
    position: initial;
  }
  a{
    padding-right: 0;
    padding-top: 4px;
    position: relative;
  }
}
.dropbtn{
  margin-top:-2px;
}
// ::-webkit-input-placeholder {
//    color: transparent;
// }
:-moz-placeholder {
   color: transparent;
}
.HeaderIcons{
  width: 22px;
  height: 22px;
}
}


@media only screen and (min-width:426px) and (max-width:1440px){
  .NavMobileHeader{
      display: none !important;
  }
  .NotificationContent{
  width: 285px !important;
  }
}
//dashboard search styles
.search{
  border: 0px ;
  border-radius: 2px;
  width: 356px;
  height: 40px;
  padding: 0 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #BDBDBD;
  background: url(src/assets/images/main/search.svg) no-repeat right #fff;
  cursor: pointer;
  background-origin: content-box;
}

.search:focus{
  outline: none;
}
.SearchImg{
  position: fixed;
    top: 23px;
    right: 180px;
  }
.SearchImg:focus, .SearchImg:visited, .SearchImg:active{
  outline: none;
  display: none;
}

.SearchDropdown{
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
  ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    a{
      font-size: 14px;
      color: #7b7b7b;
      margin-bottom: 20px;
    }
  }
  .SearchDropdownTopbtn{
    background: #f8f8f8;
    height: auto;
    width: 356px;
    padding: 2px 5px 0 5px;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    ul{
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      li{
        padding: 10px 0px 10px 10px;
      }
      button{
        border: 0.5px solid #6a7c88;
        background: #023047;
        border-radius: 20px;
        padding: 2px 12px;
        color: #fff;
        transition: width 2s;
      }
    }
  }
  .SearchDropdownData{
    overflow: hidden;
    ul li{
      padding: 10px 20px;
    }
    li:hover{
      background: #e5e5e5;
    }
    li.disabled a{
        color: #bdbdbd !important;
        font-size: 12px !important;
    }
    li:last-child{
      margin-bottom: 9px;
    }
  }
}
.SearchDropdownTopbtn ul button:hover, .SearchDropdownTopbtn ul button:active, .SearchDropdownTopbtn ul li a:focus{
  background-color: #239EC5 !important;
  outline: none;
}

@media only screen and (min-width: 320px) and (max-width:425px){
.search{
  background: url(src/assets/images/main/search.svg) no-repeat right #023047;
  border: 0px;
  box-shadow: none;
  padding: 0px;
  width: 100%;
  float: right;
  margin-left: 35px;
}
.SearchDrop{
  background: url(src/assets/images/main/search.svg) no-repeat right transparent;
  border: 0.5px solid #e5e5e5;
  width: 373.7px;
  height: 40.04px;
  box-shadow: none;
  padding: 0px 20px;
  background-origin: content-box;
  border-bottom:0px;
  // width: 15%;
  // float: right;
  margin-top: 30px;
}
.DropdownMain{
  position: absolute;
    z-index: 1;
    width: 100%;
    right: 0;
    top: -13px;
    min-width: 100%;
    background: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
}
.search:focus{
  outline: none;
}
.SearchImg{
  position: absolute;
    top: 11px;
    left: 58%;
  }
.SearchImg:focus, .SearchImg:visited, .SearchImg:active{
  outline: none;
  display: none;
}
.SearchDropdown{
  background: #fff;
  box-shadow: 0 0 black;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #e5e5e5;
  margin: 0px 0 35px;
  ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    li{
    overflow: hidden;
    padding:10px;
    a{
      font-size: 14px;
      color: #7b7b7b;
      margin-bottom: 20px;
    }
    }
  }
  .SearchDropdownTopbtn{
    background: #f8f8f8;
    width: auto;
    flex-wrap: wrap;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    ul{
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      li{
        padding: 10px 3px 10px 2px;
      }
      button{
        border: 0px;
        background: #023047;
        border-radius: 20px;
        padding: 5px 20px;
        color: #fff;
      }
    }
  }
  .SearchDropdownData{
    padding: 10px;
    ul li:hover{
      background: #e5e5e5;
    }
  }
}
.NotificationContent{
   ul {
  margin: 15px 10px !important;
  overflow-y: hidden;
  height: auto;
}
li {
  padding: 10px 15px !important;
}
}
}
@media only screen and (max-width: 900px) and (min-width:426px){
  .SearchMob{
    display: none;
  }
}
::-webkit-search-cancel-button{ 
  display: none; 
}
@media screen and (min-width: 400px) and (max-width:414px){
  .SearchDropdown{
    .SearchDropdownTopbtn{
      width: 372px;
      flex-wrap: wrap;
    }
  }
}
@media screen and (min-width: 350px) and (max-width:360px){
  .SearchDropdown{
    .SearchDropdownTopbtn{
      button{
        padding: 5px 17px !important;
      }
    }
  }
}
@media(max-width:320px){
  .SearchDropdown{
    .SearchDropdownTopbtn{
      button{
        padding: 5px 11px !important;
      }
    }
  }
}