.nav-header{
  background: #f7f7f7;
  box-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.ds-con{
  display: contents;
}
.col-align{
  display: flex;
  place-items: baseline;
  width: 65%;
  p{
      padding-left: 20px;
      padding-right: 30px;
  }
}
.logo{
  margin-right: 38px;
}
.align{
  text-align: center;
}
.pd-l{
  padding-left: 20px;
}
p{
  margin: 0;
  color: #023047;
  font-size: 16px;
  font-weight: bold;
}
.ver-line{
  border-right: 1.25px solid #dddddd;
  width: 260px;
  padding-right: 10px;
  margin-right: 15px;
}
.ver-line:last-of-type{
  border-right: none;
}

.pdr-0{
  padding-right: 0px !important;
}
.ver-line2{
  border-left: 1.25px solid #dddddd;
  height: 40px;
  padding: 0 20px;
  justify-content: center;
  display: flex;
}
.ver-line-last{
  border: 0px !important;
}
span{
  color: #696967;
  font-size: 13px;
}
.search{
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 356px;
  height: 40px;
  padding: 0 10px;
}
.search:focus{
  outline: none;
}
.search-img{
  position: fixed;
    top: 23px;
    right: 240px;
  }
.search-img:focus, .search-img:visited, .search-img:active{
  outline: none;
  display: none;
}
.icon-hamburger{
  position: absolute;
  right: 15px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  display: grid;
  margin-top: 7px;
}
.dropbtn:active, .dropbtn:visited, .dropbtn:focus{
  outline: none;
  border: none;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  width: auto;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  top: 60px;
}
.dropdown-content::after, .notification-content::after{
  content: "";
  position: absolute;
  top: -12%;
  left: 59%;
    margin-left: 50px;
    border-width: 10px;
    border-bottom: 16px solid #f8f8f8;
  border-style: solid;
  border-color: transparent transparent #f8f8f8 transparent;
}
.notification-content::after{
  left: 50% !important;
}
.notification-content{
  top: 154% !important;
  left: auto !important;
  ul{
    list-style: none;
    padding:0px;
    li{
    height: 60px;
    border-bottom: 1px solid #c4c4c4;
    overflow: hidden;
    }
    .more{
      border-bottom: 0px !important;
      height: auto !important;
      float: right;
      a{
      font-size: 14px;
      color: #F16A21 !important;
    }
    }
  }
}

.dropdown-content a {
  color:#57565c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: none;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}

.user-dropdown{
  background-color: #f8f8f8;
  padding: 8px 17px;
  color: #fff !important;
  font-size: 14px !important;
  img{
    padding-right: 15px;
    width: 50px;
    vertical-align: text-top;
  }

 .user{
   font-size: 14px !important;
   color: #000;
   display: inline-grid;
 }
  span{
    color: #757575;
    font-size: 12px;
    display: inline-grid;
  }
}
.downarrow{
  width: 10px;
  left: 6px;
  position: relative;
}
.dark-theme{
  display: flex;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height:15px;
  margin-top: 13px;
  margin-left: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -5px;
  bottom: -2px;
  background-color: #f1f1f1;
  transition: 0.4s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.notification {
  position: relative;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 5px 3px 3px;
  border-radius: 50%;
  background-color: #F16A21;
  color: white;
  font-size: 8px; 
}
//header ends here//
@media only screen and (min-width: 320px) and (max-width:425px){
  .nav-header{
      display: none;
  }
  .nav-width{
    width: 100%;
  }
  .pdt-0{
      padding-top: 0px !important;
  }
  .nav-mobile-header{
      background-color: #023047;
      padding: 15px 0 15px 15px;
      width: auto;
      border-bottom: 1px solid #074E72;
      top: 0;
      z-index: 1;
      ul{
          list-style: none;
          display: flex;
          padding: 0;
          margin: 0;
          li{
              padding-top: 5px;
              padding-right: 5px;
              width: 50%;
          }
      }
      // a{
      //     // padding-right: 15px;
      // }
      .text-align{
        text-align: center;
      }
      // .mb-search-width{
      //   width: 70% !important;
      // }
      .mobile-search{
          border: 0;
          background: transparent;
          color: #fff;
      }
      .mobile-search:hover, .mobile-search:active, .mobile-search:visited {
          border: 0px;
          outline: none;
      }
      .img{
          position: absolute;
          right: 27%;
          top: 35%;
      }
      .news-img{
        filter: brightness(1.5) sepia(10) hue-rotate(-70deg) saturate(25);
        width: 20px;
      }
  }
}

@media only screen and (min-width:426px) and (max-width:1440px){
  .nav-mobile-header{
      display: none !important;
  }
}
