<nav class="navbar navbar-expand-lg NavHeader">
  <div class="ds-con">
    <div class="ColAlign">
      <img class="navbar-brand logo" src="../../../../assets/images/main/logo.svg" alt="">
      <div class="VerLine" *ngIf="headerCount">
        <span class="HoursDetails">Total Working Hours: {{headerCount['workingHour']}} </span>
        <!-- <span class="HoursPerc">({{hours.value}}% ) </span> -->
        <!-- <span class="HoursImg" *ngIf="hours.arrowFlag===true; else elseBlock"><img
            src="..\..\..\assets\images\main\arrow_up.svg"></span>
        <ng-template #elseBlock>
          <span class="hours-img"><img src="..\..\..\assets\images\main\arrow_down.svg"></span>
        </ng-template> -->
      </div>
      <div class="VerLine">
        <span class="HoursDetails">Average Hours: 08 </span>
        <!-- <span class="HoursPerc">({{hours.value}}% ) </span> -->
        <!-- <span class="HoursImg" ><img src="..\..\..\assets\images\main\arrow_up.svg"></span>-->
      </div>
    </div>
    <div class="VerLine2">
      <!-- <ev-dashboard-search [isShow]="isShow" [isOpen]="isOpen" (myOutput) ="GetChildData($event)"></ev-dashboard-search> -->

      <div class="">
        <input type="search" class="search SearchMob" on-click="toggledownSearch($event)" placeholder="Search">
        <!-- <img class="SearchImg" src="..\..\..\assets\images\main\search.svg"> -->
        <div class="">
          <div class="SearchDropdown" *ngIf="!isSearch">
            <div class="SearchDropdownTopbtn">
              <ul>
                <li><a><button>Mgmt. Dashboard</button></a></li>
                <li><a  class=""><button>HR</button></a></li>
                <li><a><button>IT</button></a></li>
                <li><a><button>Admin</button></a></li>
              </ul>
            </div>
            <div class="SearchDropdownData">
              <ul>
                <li class="disabled"><a href="#">Try Searching for</a></li>
                <li><a class="">People </a></li>
                <li><a>Account</a></li>
                <li><a>Practice</a></li>
                <li><a>Department</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="VerLine2 Notification">
      <a *ngIf="notificationCount" class="dropbtn" [matMenuTriggerFor]="notificationMenu"><img class="HeaderIcons"
          src="..\..\..\assets\images\main\Notifiction.svg"><span class="badge"
          *ngIf="notificationCount.length > 0">{{notificationCount.length}}</span></a>

          <mat-menu #notificationMenu="matMenu" xPosition="before">
            <div class="NotificationContent-new" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <h6 class="NotifyHeader">Notifications</h6>
              <ul>
                <li *ngFor="let _nt of notificationCount">
                  <a class="NotifyIcon">
                    <div class="text ellipsis NotifyText">
                      <span class="text-concat">{{_nt.desc}}</span>
                      <span class="NotifyDate">10-09-2020</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </mat-menu>

          <!-- <mat-menu #menu="matMenu"  xPosition="before">
            <div class="NotificationContent" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"
            *ngIf="!isOpen && notificationCount.length > 0">
              <h6 class="NotifyHeader">Notifications</h6>
              <ul>
                <li *ngFor="let _nt of notificationCount">
                  <a class="NotifyIcon">
                    <div class="text ellipsis NotifyText">
                      <span class="text-concat">{{_nt.desc}}</span>
                      <span class="NotifyDate">10-09-2020</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </mat-menu> -->
    </div>
    <div class="dropdown VerLine2 pdr-0">
      <a class="dropbtn" (click)="toggleDropdown()" [matMenuTriggerFor]="profileMenu"><img class="HeaderIcons"
          src="..\..\..\assets\images\main\user.svg"></a>
          
          <mat-menu #profileMenu="matMenu">
            <div  class="DropdownContent" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <ul>
                <li class="UserIcon"> <a class="UserDropdown">
                   
                    <div class="user">{{userInfo.name}}<br><span>{{userInfo.designation}}</span></div>
                  </a></li>
                <li class="ProfileBg"><a  class=""> My Profile</a></li>
                <li class="FeedbackBg"><a class=""> Provide Feedback</a></li>
                <li class="Darkbg dark-theme"><span class="ml-40"> Dark
                    Theme</span><label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label></li>
                <li class="LogoutBg"><a class="" (click)="logout()"> Logout</a></li>
              </ul>
            </div>
          </mat-menu>   
      
    </div>
  </div>
</nav>


<!--Mobile view-->

<nav class="navbar NavMobileHeader">
  <div class="NavWidth">
    <a class="dropbtn hamburger-mobile" (click)="toggleDropdown()" [matMenuTriggerFor]="profileMenumobile"><img
        src="..\..\..\assets\images\main\Hamburger.svg"></a>
        <mat-menu #profileMenumobile="matMenu">
    <div class="DropdownContent mobile-usermenu" *ngIf="!isShow">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <ul>
        <li class="UserIcon"> <a href="javascript:void(0)" class="UserDropdown">
           
            <div class="user">User Name<br><span>Designation</span></div>
          </a></li>
        <li class="ProfileBg"><a href="javascript:void(0)"> My Profile</a></li>
        <li class="FeedbackBg"><a class="">Provide Feedback</a></li>
       
        <li class="Darkbg dark-theme"><a href="javascript:void(0)"> Dark
            Theme</a><label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label></li>
        <li class="LogoutBg logout-link"><a class="Logout" (click)="logout()">
              Logout</a></li>
      </ul>
    </div>
  </mat-menu>   
    <a><img src="..\..\..\assets\images\main\logo.svg"></a>
  </div>
  <div class="NavOption">
    <div class="MobileSearch">
    
      <div class="">
        <input type="search" class="search SearchMob" on-click="toggledownSearch($event)" placeholder="">
       
        <div class="DropdownMain" *ngIf="!isSearch">
          <div class="CloseBtn"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
          <input type="search" class="SearchDrop SearchMob" placeholder="Search">
          <div class="SearchDropdown">
            <div class="SearchDropdownTopbtn">
              <ul>
                <li><a><button>Mgmt. Dashboard</button></a></li>
                <li><a class=""><button>HR</button></a></li>
                <li><a><button>IT</button></a></li>
                <li><a><button>Admin</button></a></li>
              </ul>
            </div>
            <div class="SearchDropdownData">
              <ul>
                <li class="disabled"><a href="javascript:void(0)">Try Searching for</a></li>
                <li><a class="">People </a></li>
                <li><a>Account</a></li>
                <li><a>Practice</a></li>
                <li><a>Department</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Notification">
      <a *ngIf="notificationCount" class="dropbtn" (click)="toggleDowncontent()" [matMenuTriggerFor]="notificationMenumobile"><img class="HeaderIcons"
          src="..\..\..\assets\images\main\Notifiction.svg"><span class="badge"
          *ngIf="notificationCount.length > 0">{{notificationCount.length}}</span></a>
      <mat-menu #notificationMenumobile="matMenu" class="menu-screen">
      <div class="DropdownContent NotificationContent">
        <div class="CloseNotify">
          <h4>Notifications <span>(20)</span></h4><button type="button" class="close"
            data-dismiss="modal">&times;</button>
        </div>
        <ul>
          <li *ngFor="let data of notificationCount;" class="notication-border">
            <a href="javascript:void(0)" class="NotifyIcon">
             
              <div class="text ellipsis NotifyText">{{data.desc | charlimitpipe: 40}}
                <span class="NotifyDate">10-09-2020</span>
              </div>
            </a></li>
          <li><a class="More">MORE</a></li>
        </ul>
      </div>
    </mat-menu>  
    </div>
    <div class=" VerLine2 pdr-0"><a class="dropbtn" [matMenuTriggerFor]="newsEventsmobile"><img class="NewsImg"
          src="..\..\..\assets\images\main\news.svg"></a>
          <mat-menu #newsEventsmobile="matMenu">
          <div class="DropdownContent">
            <div class="CloseNotify">
              <h4>News and Events</h4><button type="button" class="close"
                data-dismiss="modal">&times;</button>
            </div>
            <ul>
              <li class="news-border" *ngFor="let news of newsLetterData; let i= index;">
                <a href="javascript:void(0)">
                  <div class="news-content">{{news.title}}</div>
                </a></li>             
            </ul>
          </div>
        </mat-menu> 
    </div>
  </div>
</nav>
