<div>
  <ev-header></ev-header>
  <ev-side-nav></ev-side-nav>
  <div class="DashboardHeader">
    <h3 class="MobileNone">{{pageHeader}}</h3>
    <div *ngIf="!isOtherNavSelected">
      <ev-header-default [summeryData]="summeryData" *ngIf="summeryDataLoaded"></ev-header-default>
      <div class="row ml-0">
        <div class="col-md-4 p-0 pr-2" *ngIf="isDataLoadedPractice && summeryDataLoaded">
          <ev-data-graph [chartData]="chartData3" chartType="donutChart" [dataLoaded]="isDataLoadedPractice"
            [isNoGraphShown]="false">
          </ev-data-graph>
        </div>
        <div class="col-md-5 p-0 pr-2" *ngIf="isDataLoadedPractice && summeryDataLoaded">
          <ev-data-graph [chartData]="chartData2" chartType="multiColorBarChartMultiLevel"
            [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
          </ev-data-graph>
        </div>

        <div class="col-md-3 p-0" *ngIf="isDataLoaded && summeryDataLoaded">
          <ev-data-graph [isNoGraphShown]="true" [newsData]="newsLetterData" titleCommon="News and Events">
          </ev-data-graph>
        </div>
        <!-- <div class="col-md-4 p-0 m-2" *ngIf="!isDataLoadedPractice">
          <ev-css-loader></ev-css-loader>
        </div> -->
        <!-- <div class="col-md-4 p-0 m-2" *ngIf="!isDataLoadedPractice">
          <ev-css-loader></ev-css-loader>
        </div>
        <div class="col-md-3 p-0 m-2" *ngIf="!isDataLoadedPractice">
          <ev-css-loader></ev-css-loader>
        </div> -->

        <div class="col-md-12 p-0" *ngIf="isDataLoaded && summeryDataLoaded">
          <ev-data-graph [chartData]="chartData" chartType="multiColorBarChartMultiLevel" [dataLoaded]="isDataLoaded"
            [isNoGraphShown]="false">
          </ev-data-graph>
        </div>
        <!-- *ngIf="!isDataLoaded" -->
      </div>
    </div>
    
    <!-- <button mat-raised-button id="logout-button" (click)="openLogoutModal()">OpenModal</button> -->
  </div>

</div>
<div class="loader" *ngIf="!summeryDataLoaded">
  <ev-css-loader></ev-css-loader>
</div>

