// div{ border:1px solid ;width:100%; height:calc(100vh - 66px); overflow-y: scroll;}
// div{border:1px solid blue; width:100%; height:calc(100vh - 76px); overflow-y: scroll;}
.DashboardHeader {
  padding: 21px 12px 30px 24px;
  padding-bottom: 30px;
  margin-left: 65px;
  position: absolute;
  top: 65px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #afaeae #e3e1e1;
  height: 100%;
  width: 95%;
  display: inline-table;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #57565c;
    line-height: 29px;
  }
}
.loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}
.DashboardHeader::-webkit-scrollbar {
  width: 5px;
}
.DashboardHeader::-webkit-scrollbar-track {
  background: #e3e1e1;
  border-radius: 15px;
}
.DashboardHeader::-webkit-scrollbar-thumb {
  background: #afaeae;
  border-radius: 15px;
  height: 5%;
}
.DashboardHeader::-webkit-scrollbar-thumb:hover {
  background: #afaeae;
}
@media only screen and (min-width:1200px) and (max-width:1280px){
  .DashboardHeader{
    width: 94.5%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .DashboardHeader {
    margin: 0px;
    padding: 0px 0px 30px 15px;
    top: 130px;
    z-index: 0;
    display: block;
    position: relative;
    overflow: hidden;
    width: 96%;
  }
  .MobileNone {
    display: none;
  }
}
@media only screen and (width: 320px){
  .DashboardHeader{
    top: 115px;
  }
}
.account-resource{
  background-color: #fff;
  padding:20px;
  display:flex;
  width:100%;
  // display:none;
  .desktop-hidden{
    display:none;
  }
  .account-right{
    width:80%;
    padding-left: 40px;
    h4{
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #023047;
    }
    p{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #929292;
    }
    .tech-stack{
      p{
        line-height: 40px;
        color: #626364;
        span{
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          color: #FC8500;
          background: rgba(252, 133, 0, 0.1);
          border: 0.5px solid #FC8500;
          border-radius: 20px;
          padding: 5px 12px;
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
 .account-rleft{
   width: 20%;
   select{
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #0088D1;
   }
   p{
    font-size: 14px;
    line-height: 32px;
    color: #023047;
   }
   ul{
     list-style:none;
     padding-left:0;
     border-right: 2px solid #B4B0B0;
     li{
       padding: 5px;
       font-size: 14px;
       line-height: 20px;
       color: #626364;
       margin-bottom: 10px;
       position: relative;
       cursor: pointer;
     }
     li.active{
      border-left:2px solid #0088D1;
     }
   }
 }
}
@media(max-width:414px){
.account-resource{
  display: block;
  .account-rleft{
    width:100%;
    ul{
      border-right: none;
    }
  }
  .account-right{
    padding: 0;
    width:100%;
    .tech-stack{
      span{
        display:inline-block;
      }
    }
  }
  .desktop-hidden{
    display:block;
    .employee-detail{
      border: 1px solid #C4C4C4;
      border-radius: 2px;
      padding:8px;
      margin-bottom: 10px;
      p{
        margin-bottom: 5px;
        span{
          float: right;
        }
        .emp-name{
          font-weight: 600;
        }
      } 
    }
  }
}
}