<div>
  <ev-header></ev-header>
  <ev-side-nav></ev-side-nav>
  <div class="DashboardHeader">
    <h3 class="MobileNone">{{pageHeader}}</h3>
    <div *ngIf="!isOtherNavSelected">
      <ev-header-default [summeryData]="summeryData" *ngIf="summeryDataLoaded"></ev-header-default>
      <div class="row ml-0">
        <div class="col-md-4 p-0 pr-2" *ngIf="isDataLoadedPractice && summeryDataLoaded">
          <ev-data-graph [chartData]="chartData3" chartType="donutChart" [dataLoaded]="isDataLoadedPractice"
            [isNoGraphShown]="false">
          </ev-data-graph>
        </div>
        <div class="col-md-5 p-0 pr-2" *ngIf="isDataLoadedPractice && summeryDataLoaded">
          <ev-data-graph [chartData]="chartData2" chartType="multiColorBarChartMultiLevel"
            [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
          </ev-data-graph>
        </div>

        <div class="col-md-3 p-0" *ngIf="isDataLoaded && summeryDataLoaded">
          <ev-data-graph [isNoGraphShown]="true" [newsData]="newsLetterData" titleCommon="News and Events">
          </ev-data-graph>
        </div>
        <!-- <div class="col-md-4 p-0 m-2" *ngIf="!isDataLoadedPractice">
          <ev-css-loader></ev-css-loader>
        </div> -->
        <!-- <div class="col-md-4 p-0 m-2" *ngIf="!isDataLoadedPractice">
          <ev-css-loader></ev-css-loader>
        </div>
        <div class="col-md-3 p-0 m-2" *ngIf="!isDataLoadedPractice">
          <ev-css-loader></ev-css-loader>
        </div> -->

        <div class="col-md-12 p-0" *ngIf="isDataLoaded && summeryDataLoaded">
          <ev-data-graph [chartData]="chartData" chartType="multiColorBarChartMultiLevel" [dataLoaded]="isDataLoaded"
            [isNoGraphShown]="false">
          </ev-data-graph>
        </div>
        <!-- *ngIf="!isDataLoaded" -->
      </div>
    </div>
    <div class="col-md-12 p-0" *ngIf="isOtherNavSelected">
      <ev-place-holder></ev-place-holder>
    </div>
    <!-- <ev-graph-default></ev-graph-default> -->
    <div class="account-resource">
      <div class="account-rleft">
        <select>
          <option seleced>CSC</option>
        </select>
        <p>(40 Projects/200 People)</p>
        <ul>
          <li class="active">Matter Management</li>
          <li>Datawarehousing</li>
          <li>Entity Management</li>
          <li>Alliance</li>
          <li>RIM</li>
          <li>Datamasters</li>
          <li>Financials</li>
          <li>CSC-Pega Support</li>
          <li>NetNames</li>
          <li>CSC-Pega Support</li>
          <li>Fraud Analysis</li>
          <li>NetNames</li>
          <li>CSC-Pega Support</li>
        </ul>
      </div>
      <div class="account-right">
        <h4>Matter Management (24 People)</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, at id bibendum in urna mi quam. Gravida sed imperdiet aenean suspendisse sit. Semper diam leo porttitor orci viverra sodales. Eget porta nunc urna, porta tincidunt tortor. Diam vitae ac ut interdum. Mi parturient mi et eget tortor eu. Odio auctor 
        </p>
        <div class="tech-stack">
          <p>Tech Stack: <span>.net</span> <span>sql server</span> <span>Mongo DB</span> <span>Javascript</span></p>
        </div>
        <div class="account-detail-table"></div>
        <div class="desktop-hidden">
          <div class="employee-detail">
            <p><b>Emp ID:</b> 1547 <span class="emp-name">Jithendar Goud Vanga</span></p>
            <p>Java Practice <span>Manager - HR</span></p>
            <p><b>Reporting to:</b> Ramesh Mantra</p>
          </div>
          <div class="employee-detail">
            <p><b>Emp ID:</b> 1547 <span class="emp-name">Jithendar Goud Vanga</span></p>
            <p>Java Practice <span>Manager - HR</span></p>
            <p><b>Reporting to:</b> Ramesh Mantra</p>
          </div>
          <div class="employee-detail">
            <p><b>Emp ID:</b> 1547 <span class="emp-name">Jithendar Goud Vanga</span></p>
            <p>Java Practice <span>Manager - HR</span></p>
            <p><b>Reporting to:</b> Ramesh Mantra</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="loader" *ngIf="!summeryDataLoaded">
  <ev-css-loader></ev-css-loader>
</div>

