
.search{
  border: 0px ;
  width: 356px;
  height: 40px;
  padding: 0 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.search:focus{
  outline: none;
}
.search-img{
  position: fixed;
    top: 23px;
    right: 180px;
  }
.search-img:focus, .search-img:visited, .search-img:active{
  outline: none;
  display: none;
}
a.disabled{
  color: #bdbdbd !important;
}
.search-dropdown{
  width: 355px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
  ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    li{
    overflow: hidden;
    padding:10px;
    a{
      font-size: 14px;
      color: #7b7b7b;
      margin-bottom: 20px;
    }
    }
  }
  .search-dropdown-topbtn{
    background: #f8f8f8;
    padding: 10px;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    ul{
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      li{
        padding-right: 0px;
      }
      button{
        border: 0px;
        background: #023047;
        border-radius: 20px;
        padding: 5px 20px;
        color: #fff;
      }
    }
  }
  .search-dropdown-data{
    padding: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width:425px){
.search{
  border: 0px ;
  width: 190px;
  height: 30px;
  padding: 0 20px;
  box-shadow: 0px;
}
.search:focus{
  outline: none;
}
.search-img{
  position: fixed;
    top: 23px;
    right: 180px;
  }
.search-img:focus, .search-img:visited, .search-img:active{
  outline: none;
  display: none;
}
a.disabled{
  color: #bdbdbd !important;
}
.search-dropdown{
  width: 355px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
  ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    li{
    overflow: hidden;
    padding:10px;
    a{
      font-size: 14px;
      color: #7b7b7b;
      margin-bottom: 20px;
    }
    }
  }
  .search-dropdown-topbtn{
    background: #f8f8f8;
    padding: 10px;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    ul{
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      li{
        padding-right: 0px;
      }
      button{
        border: 0px;
        background: #023047;
        border-radius: 20px;
        padding: 5px 20px;
        color: #fff;
      }
    }
  }
  .search-dropdown-data{
    padding: 10px;
  }
}
}