
.search{
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 356px;
  height: 40px;
  padding: 0 10px;
}
.search:focus{
  outline: none;
}
.search-img{
  position: absolute;
  top: 10px;
  right: 55px;
  }
.search-img:focus, .search-img:visited, .search-img:active{
  outline: none;
  display: none;
}
