
  <div class="">
    <input type="search" class="search" on-click="toggleDropdown()" placeholder="Search"><img class="search-img" src="..\..\..\assets\images\main\search.svg">
    <div class="search-dropdown" *ngIf="!isShow">
      <div class="search-dropdown-topbtn">
        <ul>
        <li><a href="#" class=""><button>HR</button></a></li>
        <li><a href="#"><button>IT</button></a></li>
        <li><a href="#"><button>Admin</button></a></li>
        <li><a href="#"><button>People</button></a></li>
        </ul>
      </div>
      <div class="search-dropdown-data">
        <ul>
        <li><a href="#" class="disabled">Try Searching for</a></li>
        <li><a href="#" class="">People </a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Practice</a></li>
        <li><a href="#">Department</a></li>
        </ul>
      </div>
    </div>
  </div>