<div class="dashboard-graph">
    <div class="graph">
        <div class="graph-head">
            <h5>Overall Attendance</h5>
            <select class="select-type" name="details" id="details">
                <option value="">Daily</option>
                <option value="">Weekly</option>
                <option value="">Monthly</option>
                <option value="">Yearly</option>
            </select>
        </div>
        <div class="graph-body">

        </div>
    </div>
    <div class="graph">
        <div class="graph-head">
            <h5>Resource Engagement</h5>
            <select class="select-type" name="details" id="details">
                <option value="">Select Dept</option>
                <option value="">Weekly</option>
                <option value="">Monthly</option>
                <option value="">Yearly</option>
            </select>
        </div>
        <div class="graph-body">
            <p>bvhngbj bvmnhjy vmnhbgjhy jhgjhmghyj <br>
            vhgmuy jbnvbnmbju hghjb hbmjh<br>
        gchgvkjuygvbnnkl umnkui hbkju</p>
        </div>
    </div>
    <div class="graph-last graph">
        <div class="graph-head ls">
            <h5>News and Events</h5>
            <select class="select-type wd-select" name="details" id="details">
                <option value="">Today</option>
                <option value="">Weekly</option>
                <option value="">Monthly</option>
                <option value="">Yearly</option>
            </select>
        </div>
        <div class="graph-body">

        </div>
    </div>
</div>
<div class="dashboard-graph">
    <div class="graph">
        <div class="graph-head">
            <h5>Employee Attrition</h5>
            <select class="select-type" name="details" id="details">
                <option value="">Daily</option>
                <option value="">Weekly</option>
                <option value="">Monthly</option>
                <option value="">Yearly</option>
            </select>
        </div>
        <div class="graph-body">

        </div>
    </div>
    <div class="graph graph-accounts">
        <div class="graph-head">
            <h5>Accounts Wise Resource Utilization</h5>
            <select class="select-type" name="details" id="details">
                <option value="">Daily</option>
                <option value="">Weekly</option>
                <option value="">Monthly</option>
                <option value="">Yearly</option>
            </select>
        </div>
        <div class="graph-body">

        </div>
    </div>
</div>