.lds-ripple {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 183, 1, 0.466) ;
  border-radius: 50%;
  border-top-color: #FC8500 ;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.loaderContainer {
  background: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
