<div>
    <ev-header></ev-header>
    <ev-side-nav></ev-side-nav>
    <div class="DashboardHeader">
        <h3 class="header-hr">HR Dashboard</h3>
        <ev-header-hr [summeryData]="summeryData"></ev-header-hr>
        <div class="DashboardGraph">
            <div class="Graph">
                <div class="GraphHead">
                    <h5>Headcount Demographics</h5>
                    <button class="kebabMenu-icon">
                    </button>
                </div>
                <div class="GraphBody">
        
                </div>
            </div>
            <div class="Graph">
                <div class="GraphHead">
                    <h5>Onboarded and Seperated</h5>
                    <button class="kebabMenu-icon">
                    </button>
                </div>
                <div class="GraphBody">
                </div>
            </div>
            <div class="GraphLast Graph">
                <div class="GraphHead ls">
                    <h5>News and Events</h5>
                    <!-- <button class="kebabMenu-icon">
                    </button> -->
                </div>
                <div class="GraphBody">
                    <ul>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></li>
        
                    </ul>
                </div>
            </div>
        </div>
        <div class="DashboardGraph">
            <div class="Graph GraphAccounts">
                <div class="GraphHead">
                    <h5>Employee Attrition</h5>
                    <button class="kebabMenu-icon">
                    </button>
                </div>
                <div class="GraphBody">
        
                </div>
            </div>
        </div>
        <div class="DashboardGraph">
            <div class="Graph GraphAttrition">
                <div class="GraphHead">
                    <h5>Account wise Employee Attrition %</h5>
                    <button class="kebabMenu-icon">
                    </button>
                </div>
                <div class="GraphBody">
        
                </div>
            </div>
            <div class="Graph GraphAttrition mr-0">
                <div class="GraphHead">
                    <h5> Voluntary Attrition : Top 3 Reason</h5>
                    <button class="kebabMenu-icon">
                    </button>
                </div>
                <div class="GraphBody">
        
                </div>
            </div>
        </div>
        <div class="DashboardGraph">
            <div class="Graph GraphAccounts">
                <div class="GraphHead">
                    <h5> Voluntary Attrition Analysis</h5>
                    <button class="kebabMenu-icon">
                    </button>
                </div>
                <div class="GraphBody">
        
                </div>
            </div>
        </div>
    </div>
</div>

