.loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}
.DashboardGraph{
    margin-top: 15px;
    display: flex;
  }
  .loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}
  .Graph{
    width: 100%;
    border: 0;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.12);
    margin-right: 13px;
    background-color: #fff;
    padding-bottom:1px;
  }
  .GraphLast{
    width: 25% !important;
    margin-right: 0 !important;
  }
  .GraphAttrition {
    width:50%;
  }
  .kebabMenu-icon{
    height:31px;
    width:31px;
    background: url(src/assets/images/main/kebab_menu.svg) no-repeat center;
    background-size: 12%;
    position: absolute;
    right: 5px;
    top: auto;
    cursor: pointer;
    border:0;
  }
  .kebabMenu-icon:hover{
    background-color:#E8EFF5;
    border-radius: 50%;
  }
  .GraphHead{
    display: flex;
    background: #f8f8fb;
    padding: 9px 15px 9px;
    width: 100%;
    position:relative;
    align-items: baseline;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    h5{
        color: #57565c;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0;
    }
  }
  .ls{
    letter-spacing: -0.2px;
  }
  select > option:hover{
    background: #F2F6FA !important;
  }
  
  .WidSelect{
    width: 85px !important;
  }
  .GraphBody{
    padding: 0px 15px;
    background-color: white;
    font-size: 14px;
    color: #57565c;
    height: 390px;
    // overflow: overlay;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #afaeae #e3e1e1;
    margin: 10px 10px 10px 0px;
    ul{
        padding:0px;
        margin: 0px;
        li{
            list-style: none;
            height: 55px;
            border-bottom: 1px solid #c4c4c4;
            padding: 10px 0px;
            overflow: hidden;
            a{
                color: #7b7b7b;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
            }
        }
        li:last-child{
            border: 0px;
            padding-bottom: 0px;
        }
    }
  }
  .GraphBody::-webkit-scrollbar {
    width: 5px;
  }
  .GraphBody::-webkit-scrollbar-track {
  background: #e3e1e1; 
  border-radius: 15px;
  }
  .GraphBody::-webkit-scrollbar-thumb {
  background: #afaeae; 
  border-radius: 15px;
  height: 5%;
  }
  .GraphBody::-webkit-scrollbar-thumb:hover {
  background: #afaeae;
  }
  .GraphAccounts{
    width: 100%;
    margin-right: 0 !important;
  }
  #dropdown-tab{
    .tab-wrap{
      input{
        display:none;
      }
      label{
        box-sizing: border-box;  
        width: 160px;
        height: 29px;
        text-align: left;
        font-family: Lato;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #B3C1C8;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
      }
      
    }
  }
  .tab:checked+label{
    background: transparent !important;
      color:#239EC5 !important;
      border-bottom: 2px solid #239EC5;
  }
  .tab-wrap {
    position: relative;
    list-style: none;
    background-color: #fff;
    
  }
  .tab:checked:nth-of-type(1)~.tab__content:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: .5s opacity ease-in, .8s -webkit-transform ease;
    transition: .5s opacity ease-in, .8s -webkit-transform ease;
    transition: .5s opacity ease-in, .8s transform ease;
    transition: .5s opacity ease-in, .8s transform ease, .8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0
  }
  
  .tab:checked:nth-of-type(2)~.tab__content:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: .5s opacity ease-in, .8s -webkit-transform ease;
    transition: .5s opacity ease-in, .8s -webkit-transform ease;
    transition: .5s opacity ease-in, .8s transform ease;
    transition: .5s opacity ease-in, .8s transform ease, .8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0
  }
  
  .tab__content {
    padding: 20px 0 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    border-radius: 6px;
    height:0;
    display: inline-table;
  }
  .rounded-circles{
    .single-circle{
      width: 50%;
      margin: auto;
      float: left;
      text-align: center;
      .cicle-num {
        width: 84px;
        height: 84px;
        background: #CCF3FF;
        text-align: center;
        margin: auto;
        line-height: 84px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 24px;
        color: #239EC5;
        text-shadow: none;
     }
     h5{
      font-size: 16px;
      line-height: 19px;
      color: #239EC5;
      margin-top: 15px;
      text-shadow: none;
     }
    }
    .single-circle.rose{
      .cicle-num {
        background: #FADEF0;
        color: #E76DBD;
      }
      h5{
        color: #E76DBD;
      }
    }
    .circle-width{
      width: 30%;
    }
  }  
  .head-class{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #239EC5;
    margin-top:7px;
    text-transform: uppercase;
  }
  .content-block{
    display: inline-block;
    padding-left: 15px;
    h5{
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #239EC5;
      margin-top:15px;
      text-shadow: none;
    }
    ul{
      li{
        border: 0;
        padding: 0;
        height: auto;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #7B7B7B;
        position:relative;
        background: url("../../../../assets/images/main/arrow-left.svg") no-repeat 0 8px;
        padding-left: 12px;
        text-shadow: none;
      }
    }
    p{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #7B7B7B;
      text-shadow: none;
      margin-bottom: 0;
    }
    h6{
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #57565C;
      margin-top: 15px;
    }
  }
  .right-block{
    width:70%;
    padding-left:0;
  }
  .rounded-circles.box-height{
    height:345px;
    padding-top:21px;
  }
  @media only screen and (max-width:425px) and (min-width:320px){
    .DashboardGraph{
        display: block;
      }
      .Graph{
        width: 100% !important;
        margin-bottom: 15px;
        // height: 370px;
      }
      .GraphLast{
        // width: 22% !important;
        margin-right: 0 !important;
    }
    .header-hr{
      display: none;
    }
    .rounded-circles.box-height{
      height:auto;
    }
    #dropdown-tab{
      .tab-wrap{
        label{
          width: 145px;
        }
      }
    }
    .rounded-circles{
      .single-circle{
        h5{
          font-size: 14px;
        }
      }
    }
  }
  