<div>
    <ev-header></ev-header>
    <ev-side-nav></ev-side-nav>
    <div class="DashboardHeader">
        <h3 class="header-hr">HR Dashboard</h3>
        <ev-header-hr [summeryData]="summeryData" *ngIf="headerDataLoaded"></ev-header-hr>
        <div class="row ml-0">
            <div  class="col-md-4 p-0 pr-2">
                <ev-graph-hr [chartData]="chartData1" chartType="lineChart" *ngIf="isDataLoadedPractice && headerDataLoaded"
                      [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
                <div class="col-md-5 p-0 pr-2" *ngIf="isDataLoadedPractice && headerDataLoaded">
                    <ev-graph-hr [chartData]="chartData2" chartType="barChart" 
                    [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
                    </ev-graph-hr>
                </div>
            
            <div class="col-md-3 p-0" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <ev-graph-hr [isNoGraphShown]="true" [newsData]="newsLetterData" titleCommon="News and Events">
                </ev-graph-hr>
            </div>
            <div class="col-md-12 p-0" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <ev-graph-hr chartType="lineChart2" [chartData] = "chartData6"
                      [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-6 p-0 pr-2" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <ev-graph-hr [chartData]="chartData4" chartType="barChart2" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-6 p-0" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <ev-graph-hr [chartData]="chartData3" chartType="donutChart" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-12 p-0" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <ev-graph-hr [chartData]="chartData5" chartType="pieChart" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-6 p-0 pr-2" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <div class="graphContainer mt-3 mr-2">
                    <div class="Graph">
                        <div class="GraphHead">
                          <h5>Post Onboarding Engagement</h5>
                        </div>
                        <div class="GraphBody">
                            <div id="dropdown-tab">	
                                <div class="tab-wrap">
                                  <input type="radio" id="tab1" name="tabGroup1" class="tab" value="connect" checked>
                                  <label for="tab1">30 Days Connect</label>
                                  <input type="radio" id="tab2" name="tabGroup1" class="tab" value="connect">
                                  <label for="tab2">90 Days Connect</label>
                                  <div class="tab__content">
                                      <div *ngFor="let poe of PostEngagementData">
                                        <div class="rounded-circles" >
                                            <div class="single-circle" >
                                                <div class="cicle-num">{{poe.employeecount30days}}</div>
                                                <h5>Total Employee Count</h5>
                                            </div>
                                            <div class="single-circle rose">
                                                <div class="cicle-num">{{poe.employeeconnected30days}}%</div>
                                                <h5>Employee Connected</h5>
                                            </div>
                                        </div>
                                        <div class="content-block">
                                            <h5>What’s going good</h5>
                                            <ul>
                                                <li>{{poe.whatsgoinggood30days}}</li>
                                            </ul>
                                            <h5>Improvements :</h5>
                                            <p>{{poe.scopeofimprovement30days}}</p>
                                        </div>
                                      </div>
                                    
                                  </div>
                                  <div class="tab__content">
                                    <div *ngFor="let pec of PostEngagementDataConnected">
                                    <div class="rounded-circles">
                                        <div class="single-circle">
                                            <div class="cicle-num">{{pec.employeecount90days}}</div>
                                            <h5>Total Employee Count</h5>
                                        </div>
                                        <div class="single-circle rose">
                                            <div class="cicle-num">{{pec.employeeconnected90days}}%</div>
                                            <h5>Employee Connected</h5>
                                        </div>
                                    </div>
                                    <div class="content-block">
                                        <h5>What’s going good</h5>
                                        <ul>
                                            <li>{{pec.whatsgoinggood90days}}</li>
                                        </ul>
                                        <h5>Improvements :</h5>
                                        <p>{{pec.scopeofimprovement90days}}</p>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                              </div>
                        </div>
                      </div>
                </div>
                
            </div>
            <div class="col-md-6 p-0" *ngIf="isDataLoadedPractice && headerDataLoaded">
                <div class="graphContainer mt-3 mr-2">
                    <div class="Graph">
                        <div class="GraphHead">
                          <h5>Employee Engagement Activities</h5>
                       </div>
                        <div class="GraphBody">
                            
                            <div class="rounded-circles box-height" *ngFor="let employee of getEmployeeEngagementData">
                                <h5 class="head-class">{{employee.activities}}</h5>
                                <div class="single-circle circle-width">
                                    <div class="cicle-num">{{employee.count}}</div>
                                    <h5>Total Count</h5>
                                </div>
                                <div class="content-block right-block">
                                   <ul>
                                        <li>{{employee.eventheighlight}}</li>
                                     </ul>
                                  </div>
                            </div>
                            
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <ev-footer></ev-footer>
</div>
<div class="loader" *ngIf="!headerDataLoaded">
    <ev-css-loader></ev-css-loader>
  </div>
