<div>
    <ev-header></ev-header>
    <ev-side-nav></ev-side-nav>
    <div class="DashboardHeader">
        <h3 class="header-hr">HR Dashboard</h3>
        <ev-header-hr [summeryData]="summeryData"></ev-header-hr>
        <div class="row ml-0">
            <div  class="col-md-4 p-0 pr-2">
                <ev-graph-hr [chartData]="chartData1" chartType="lineChart"
                      [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
                <div class="col-md-5 p-0 pr-2">
                    <ev-graph-hr [chartData]="chartData2" chartType="barChart" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
                </div>
            
            <div class="col-md-3 p-0">
                <ev-graph-hr [isNoGraphShown]="true" [newsData]="newsLetterData" titleCommon="News and Events">
                </ev-graph-hr>
            </div>
            <div class="col-md-12 p-0">
                <ev-graph-hr [chartData]="chartData1" chartType="lineChart"
                      [dataLoaded]="isDataLoadedPractice" [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-7 p-0 pr-2">
                <ev-graph-hr [chartData]="chartData4" chartType="barChart2" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-5 p-0">
                <ev-graph-hr [chartData]="chartData3" chartType="donutChart" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
            <div class="col-md-12 p-0">
                <ev-graph-hr [chartData]="chartData5" chartType="pieChart" [dataLoaded]="isDataLoadedPractice"
                    [isNoGraphShown]="false">
                    </ev-graph-hr>
            </div>
        </div>
        
    </div>
</div>


 
  
  
