<nav class="navbar navbar-expand-lg nav-header">
  
  <div class="row col-md-12 ds-con">
      <div class="col-md-6 col-align">
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/images/main/logo.svg" alt="">
        </a><p class="ver-line">Total Working Hours: 2400 <span> (10%) <i class="fa fa-arrow-up"></i></span></p>
        <p>Average Hours: 08 <span>(10%) <i class="fa fa-arrow-up"></i></span></p></div>
      <div class="ver-line2 col-md-4"><input type="search" class="search" placeholder="Search"><img class="search-img" src="..\..\..\assets\images\main\search.svg"></div>
      <div class="ver-line2 col-md-1">
        <img src="..\..\..\assets\images\main\Notification.svg"></div>
      <div class="col-md-1 ver-line2">
        <img src="..\..\..\assets\images\main\user.svg">
        <i class="icon-hamburger fa fa-ellipsis-v pd-l"></i>
      </div>
  </div> 

  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <span class="navbar-text white-text">
      
    </span>
  </div>
  
</nav>