<nav class="navbar navbar-expand-lg nav-header">
  
  <div class="row col-md-12 ds-con">
      <div class="col-md-6 col-align">
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/images/main/logo.svg" alt="">
        </a><p class="ver-line">Total Working Hours: 2400 <span> (10%) <img src="..\..\..\assets\images\main\arrow_up.svg"></span></p>
        <p>Average Hours: 08 <span>(10%) <img src="..\..\..\assets\images\main\arrow_down.svg"></span></p></div>
      <div class="ver-line2 col-md-4"><input type="search" class="search" placeholder="Search"><img class="search-img" src="..\..\..\assets\images\main\search.svg"></div>
      <div class="ver-line2 col-md-1">
        <img src="..\..\..\assets\images\main\Notification.svg"></div>
      <div class="col-md-1 ver-line2">
        <img src="..\..\..\assets\images\main\user.svg">
        <img src="..\..\..\assets\images\main\kebab-menu_icon.svg" class="pd-l">
      </div>
  </div> 
</nav>

<nav class="navbar nav-mobile-header">
  <div class="">
      <ul>
        <li>
        <a><img src="..\..\..\assets\images\main\Hamburger.svg"></a>
        </li>
        <li class="pdt-0">
      <a><img src="..\..\..\assets\images\main\logo.svg"></a>
      </li>
      <li><input type="search" class="mobile-search"><img class="img" src="..\..\..\assets\images\main\search.svg"></li>
      <li><a><img src="..\..\..\assets\images\main\Notification.svg"></a></li>
      <li><a><img src="..\..\..\assets\images\main\Notification.svg"></a></li>
    </ul>
  </div>
</nav>