.placeHolder {
  background: white;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 6%;
  p {
    color: #f78c57;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    span {
      color: black;
      font-weight: 300;
      font-size: 23px;
    }
  }
}
