.placeHolder {
  background: white;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 6%;
  p {
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
  }
}
