<div class="Graph">
  <div class="GraphHead">
    <h5>{{title}}</h5>

    <button mat-icon-button class="kebabMenu-icon" [matMenuTriggerFor]="menu" *ngIf="isDesiable">

    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" class="DropdownContent">
        <div id="dropdown-tab">	
          <div class="tab-wrap">
            <input type="radio" id="tab1" name="tabGroup1" class="tab" value="consolidate" checked>
            <label for="tab1">Consolidated</label>
            <input type="radio" id="tab2" name="tabGroup1" class="tab" value="account">
            <label for="tab2">Account wise</label>
            <div class="tab__content" id="Consolidated">

              <form  [formGroup]="consolidatedForm">
              <label class="select-label">Select Year</label>
              <select formControlName="yearList" class="autocomplete">
                <option  value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
              <input type="radio" class="radio-btn" formControlName="selectFormat" value="yearly" >
              <label for="year" class="year-label">Yearly</label>
              <input type="radio" class="radio-btn" id="tab2" formControlName="selectFormat"  value="quaterly">
              <label for="quaterly" class="year-label">Quaterly</label>
              <div class="button-row">
                <button class="cancel-btn" (click)="onCancel()">Cancel</button>
                <button  [ngClass]="{'disabled': !consolidatedForm.valid}" (click)="onSubmit()" [disabled]="!consolidatedForm.valid">Apply</button>  
              </div>
            </form>
            
            </div>
            <div class="tab__content">
              <form [formGroup]="accountwiseForm">
              <label class="select-label">Select Account</label>
              <select class="select-account" formControlName="accountList">
                <option>CSC</option>
                <option>Dorman</option>
                <option>SVD</option>
                <option>Microsoft Practice</option>
                <option>Medical Solutions</option>
              </select>
              <label class="select-label">Select Year</label>
              <select formControlName="yearList">
                <option value="selected">2020</option>
                <option>2019</option>
                <option>2021</option>
              </select>
              <input type="radio" formControlName="selectFormat" value="yearly" class="radio-btn">
              <label for="year" class="year-label">Yearly</label>
            
              <input type="radio" formControlName="selectFormat" value="quaterly" id="tab2" class="radio-btn">
              <label for="quaterly" class="year-label">Quaterly</label>
              <div class="button-row">
                <button (click)="onCancelAccountInfo()"class="cancel-btn">Cancel</button>
                <button [disabled]="!accountwiseForm.valid" (click)="onSubmitAccountInfo()">Apply</button>          
              </div>
            </form>
            </div>
        </div>
        </div>
      </div>
    </mat-menu>
  </div>
  <div class="GraphBody">
  </div>
</div>
