/* Style the tab */
.tab {
  float: left;
  border-radius:0px 0px 25px 0;
  background-color: #023047;
  width: 76px;
  height: 973px;
}
/* Style the buttons inside the tab */
.tab button {
  border-bottom: 1px solid #747474;
  display: block;
  border-left: 2px solid #023047;
  border-right: 0px;
  border-top: 0px;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px 22px 14px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover, .tab button:active,
.tab button:visited, .tab button:focus{
  border-left: 2px solid #239EC5;
  outline: none;
}
/* Create an active/current "tab button" class */
.tab button.active {
  border-left: 2px solid #239EC5;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}

@media only screen and (min-width: 320px) and (max-width: 425px){
 /* Style the tab */
.tab {
  border-radius:0px 0px 36px 36px;
  background-color: #023047;
  width: 100%;
  height: 100%;
  padding: 10px;
  p{
    text-align:center;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 12px;
  }
}
/* Style the buttons inside the tab */
.tab button {
  display: inline;
  border-bottom: 2px solid #023047;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  background-color: inherit;
  color: #fff;
  padding: 7px;
  width: 25%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  text-align:center;
}
.tab button:hover, .tab button:active,
.tab button:visited, .tab button:focus{
  border-bottom: 2px solid #239EC5;
  outline: none;
}
/* Create an active/current "tab button" class */
.tab button.active {
  border-bottom: 2px solid #239EC5;
}
.tablinks{
  width: 30px;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}
}
@media only screen and (min-width:426px) and (max-width:1440px){
  .tab{
    p{
      display: none;
    }
  }
  .btn-align{
    padding-left: 11px !important;
  }
}