  <!--Dynamic content-->
  <div class="FlxContainer">
    <div class="card" *ngFor="let summery of summeryData">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2>{{summery.count}}</h2>
        <h3>{{summery.title}}<span *ngIf="summery.staticAvailable">(10%) <img
              src="..\..\assets\images\main\arrow_up.svg"></span></h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\{{summery.icon}}"></div>
    </div>
  </div>
  