<!-- <p>header-hr works!</p> -->
<!-- <div class="FlxContainer">
    <div class="card">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2>705</h2>
        <h3>HeadCount<span>(10%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\people.svg"></div>
    </div>
    <div class="card">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2>30</h2>
        <h3>Onboarded <span>(10%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\onboarded.svg"></div>
    </div>
    <div class="card">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2>25</h2>
        <h3>Seperated <span>(18%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\Seperated.svg"></div>
    </div>
    <div class="card">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2>550</h2>
        <h3>Billable <span>(12%) <img src="..\..\assets\images\main\arrow_up.svg"></span></h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\billable.svg"></div>
    </div>
    <div class="card mr-0">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2><b>155</b></h2>
        <h3>Non Billable </h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\non-billable.svg"></div>
    </div>
  </div> -->


  <!--Dynamic content-->
  <div class="FlxContainer">
    <div class="card" *ngFor="let summery of summeryData">
      <div class="ThisMonth"><span>This Month</span></div>
      <div class="CardCount">
        <h2>{{summery.count}}</h2>
        <h3>{{summery.title}}<span *ngIf="summery.staticAvailable">(10%) <img
              src="..\..\assets\images\main\arrow_up.svg"></span></h3>
      </div>
      <div class="CardImg"><img src="..\..\assets\images\main\{{summery.icon}}"></div>
    </div>
  </div>
  