/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}
.indigo {
  background-color: #023047 !important;
}

body {
  background-color: #ecedf1;
  font-family: "Lato", sans-serif !important;
  // overflow-x: hidden;
  // overflow-y: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #afaeae #e3e1e1;
  height: 100%;
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.5px;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #e3e1e1;
  border-radius: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #afaeae;
  border-radius: 15px;
  height: 5%;
}
body::-webkit-scrollbar-thumb:hover {
  background: #afaeae;
}
// :root {
//   scrollbar-color: #afaeae #e3e1e1 !important;
//   scrollbar-width: thin !important;
// }
* {
  font-family: "Lato", sans-serif !important;
}
.headerCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.container {
  width: 100%;
  max-width: 100%;
}
.btn-primary {
  background-color: #fc8500 !important;
  color: white !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  border: none !important;
  font-size: 14px !important;
}
.heading {
  color: #0088d1;
  font-size: 16px !important;
  font-weight: 600;
}
.modal-dialog {
  max-width: 94% !important;
  height: auto;
}
.modal-header {
  border-bottom: 0 !important;
}
@media(max-width:414px){
  body{
    overflow-x: hidden;
  }
}

.DashboardHeader {
  padding: 21px 12px 30px 24px;
  padding-bottom: 30px;
  margin-left: 65px;
  position: absolute;
  top: 65px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #afaeae #e3e1e1;
  height: 100%;
  width: 94.9%;
  display: inline-table;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #57565c;
    line-height: 29px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-menu-panel {
  background: transparent;
  box-shadow: 0 0 0 0;
  min-width: 0 !important;
    max-width: 0 !important;
}
// .cdk-overlay-pane{
//   max-width: 100vw !important;
//   width: 100% !important;
// }
button:focus{
  outline: none;
}
.desktop-hidden{
  display:none;
}
// .myapp-no-padding-dialog .mat-dialog-container {
//   padding: 0;
//   pointer-events: auto;
//   position: static;
// }
.cdk-overlay-pane {
  max-width: 100% !important;
}
@media(max-width:425px){
  .DashboardHeader{
    margin: 0px;
    padding: 0px 0px 30px 15px;
    top: 130px;
    z-index: 0;
    display: block;
    position: relative;
    overflow: hidden;
    width: 96%;
  }
}